Repository sourcegraph/cody, pull requests merged in 2023-08, with the labels that each got.

#679 revert transcriptContainer change from pull/557
  lib/ui/src/Chat.module.css
  lib/ui/src/Chat.tsx
Labels: clients/vscode

#700 Don't require Esc to dismiss Cody menu
  vscode/CHANGELOG.md
  vscode/src/custom-prompts/menus/CustomCommandBuilderMenu.ts
  vscode/src/custom-prompts/menus/index.ts
Labels: clients/vscode

#701 Add a settings button to Cody pane header
  vscode/CHANGELOG.md
  vscode/package.json
  vscode/src/services/AuthMenus.ts
  vscode/src/services/StatusBar.ts
Labels: clients/vscode

#693 Trim values in vscode auth menu
  vscode/src/services/AuthMenus.ts
Labels: clients/vscode

#718 Add autoresizing and command button to chat input
  lib/ui/src/Chat.tsx
  vscode/CHANGELOG.md
  vscode/test/e2e/custom-command.test.ts
  vscode/test/e2e/history.test.ts
  vscode/webviews/Chat.module.css
  vscode/webviews/Chat.tsx
Labels: clients/vscode

#704 Use CSS scroll anchoring for most chat scroll pinning
  lib/ui/src/chat/Transcript.module.css
  lib/ui/src/chat/Transcript.tsx
Labels: clients/vscode

#746 Show a notice and link to release notes after extension updates
  vscode/CHANGELOG.md
  vscode/webviews/App.tsx
  vscode/webviews/Notices/Notice.module.css
  vscode/webviews/Notices/Notice.tsx
  vscode/webviews/Notices/VersionUpdatedNotice.module.css
  vscode/webviews/Notices/VersionUpdatedNotice.tsx
  vscode/webviews/Notices/index.module.css
  vscode/webviews/Notices/index.tsx
Labels: clients/vscode

#748 New welcome chat words
  vscode/CHANGELOG.md
  vscode/webviews/Chat.tsx
Labels: clients/vscode

#782 Add a 'v' to the start of the version number in the update notice
  vscode/webviews/Notices/VersionUpdatedNotice.tsx
Labels: clients/vscode

#784 Add tooltips to the chat input buttons
  vscode/webviews/Chat.tsx
Labels: clients/vscode

#794 vscode e2e: Download less, faster, update VScode version
  vscode/package.json
  vscode/test/e2e/helpers.ts
  vscode/test/e2e/install-deps.ts
  vscode/test/integration/main.ts
Labels: clients/vscode

#838 dx: show `node_modules` in the VS Code explorer
  .vscode/settings.json
Labels: dx

#845 dx: document how to debug locally with dedicated node dev tools
  vscode/CONTRIBUTING.md
  vscode/package.json
Labels: documentation

#846 dx: show `dist` in the VS Code explorer
  .vscode/settings.json
Labels: dx

#837 Autocomplete: add naive suggestions ranking based on syntactic validity
  lib/shared/src/common/index.ts
  lib/shared/src/common/paths.ts
  lib/shared/src/configuration.ts
  lib/shared/src/index.ts
  vscode/CHANGELOG.md
  vscode/CONTRIBUTING.md
  vscode/package.json
  vscode/scripts/download-wasm-modules.ts
  vscode/src/chat/GraphContextProvider.ts
  vscode/src/completions/get-current-doc-context.ts
  vscode/src/completions/getInlineCompletions.test.ts
  vscode/src/completions/getInlineCompletions.ts
  vscode/src/completions/multiline.ts
  vscode/src/completions/processInlineCompletions.test.ts
  vscode/src/completions/processInlineCompletions.ts
  vscode/src/completions/providers/provider.ts
  vscode/src/completions/request-manager.ts
  vscode/src/completions/reuse-last-candidate.ts
  vscode/src/completions/streaming.ts
  vscode/src/completions/testHelpers.ts
  vscode/src/completions/tree-sitter/grammars.ts
  vscode/src/completions/tree-sitter/parse-tree-cache.ts
  vscode/src/completions/tree-sitter/parser.test.ts
  vscode/src/completions/tree-sitter/parser.ts
  vscode/src/completions/types.ts
  vscode/src/completions/utils/grammars.ts
  vscode/src/completions/utils/lexical-analysis.test.ts
  vscode/src/completions/utils/lexical-analysis.ts
  vscode/src/completions/vscodeInlineCompletionItemProvider.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/tsconfig.json
Labels: autocomplete

#861 Autocomplete: use tree-sitter incremental parsing
  vscode/src/completions/processInlineCompletions.ts
  vscode/src/completions/tree-sitter/parse-tree-cache.ts
  vscode/src/completions/vscodeInlineCompletionItemProvider.ts
  vscode/src/main.ts
Labels: autocomplete
