Repository sourcegraph/cody, pull requests merged in 2023-10, with the labels that each got.

#1290 Autocomplete: add `autocomplete.languages` user setting
  lib/shared/src/configuration.ts
  vscode/CHANGELOG.md
  vscode/package.json
  vscode/src/completions/create-inline-completion-item-provider.test.ts
  vscode/src/completions/create-inline-completion-item-provider.ts
  vscode/src/completions/providers/createProvider.test.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/src/testutils/mocks.ts
Labels: autocomplete

#1286 Remove .com from enterprise login options
  vscode/src/services/AuthMenus.ts
Labels: cody/vscode

#1281 Only show "Ask Cody Inline" context menu item when signed in
  vscode/CHANGELOG.md
  vscode/package.json
Labels: cody/vscode

#1301 VScode: Move onboarding control group onto simplified onboarding
  vscode/src/services/OnboardingExperiment.test.ts
  vscode/src/services/OnboardingExperiment.ts
Labels: cody/vscode

#1303 Autocomplete: add multiline truncation unit test
  vscode/src/completions/get-inline-completions-tests/multiline-truncation.test.ts
Labels: autocomplete

#1306 VS Code: singleton graphql client and feature flag provider
  lib/shared/src/experimentation/FeatureFlagProvider.test.ts
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  lib/shared/src/sourcegraph-api/completions/client.ts
  lib/shared/src/sourcegraph-api/graphql/client.ts
  lib/shared/src/sourcegraph-api/graphql/index.ts
  vscode/src/completions/client.ts
  vscode/src/completions/create-inline-completion-item-provider.ts
  vscode/src/completions/inline-completion-item-provider.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/providers/createProvider.test.ts
  vscode/src/completions/providers/createProvider.ts
  vscode/src/external-services.ts
  vscode/src/main.ts
  vscode/test/completions/run-code-completions-on-dataset.ts
Labels: cody/vscode

#1311 Autocomplete: add go tree-sitter query for multiline truncation
  vscode/src/completions/tree-sitter/queries.ts
  vscode/src/completions/tree-sitter/query-sdk.test.ts
  vscode/src/completions/tree-sitter/query-tests/blocks.test.ts
  vscode/src/completions/tree-sitter/query-tests/test-data/blocks.go
  vscode/src/completions/tree-sitter/query-tests/test-data/blocks.snap.go
Labels: autocomplete

#1259 Autocomplete: add single completion trigger queries
  lib/shared/src/configuration.ts
  vscode/package.json
  vscode/src/completions/create-inline-completion-item-provider.ts
  vscode/src/completions/detect-multiline.ts
  vscode/src/completions/get-current-doc-context.ts
  vscode/src/completions/inline-completion-item-provider.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/providers/createProvider.test.ts
  vscode/src/completions/tree-sitter/queries.ts
  vscode/src/completions/tree-sitter/query-sdk.ts
  vscode/src/completions/tree-sitter/query-tests/singleline-triggers.test.ts
  vscode/src/completions/tree-sitter/query-tests/test-data/singleline-triggers.go
  vscode/src/completions/tree-sitter/query-tests/test-data/singleline-triggers.snap.go
  vscode/src/completions/tree-sitter/query-tests/test-data/singleline-triggers.snap.ts
  vscode/src/completions/tree-sitter/query-tests/test-data/singleline-triggers.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
Labels: autocomplete

#1318 Autocomplete: add a feature flag for syntactic triggers
  lib/shared/src/configuration.ts
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/package.json
  vscode/src/completions/create-inline-completion-item-provider.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/providers/createProvider.test.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
Labels: autocomplete

#1324 Agent: reject promise on completions exception
  agent/src/agent.ts
Labels: agent

#1353 Autocomplete: keep completion metadata on cache hit
  vscode/src/completions/request-manager.test.ts
  vscode/src/completions/reuse-last-candidate.ts
Labels: autocomplete

#1361 Autocomplete: collect node types without pasted completion
  vscode/src/completions/get-inline-completions-tests/analytics.test.ts
  vscode/src/completions/logger.ts
  vscode/src/completions/text-processing/process-inline-completions.test.ts
  vscode/src/completions/text-processing/process-inline-completions.ts
  vscode/src/completions/tree-sitter/ast-getters.ts
  vscode/src/completions/tree-sitter/query-tests/node-at-cursor-and-parents.test.ts
  vscode/src/completions/tree-sitter/query-tests/test-data/parents.snap.ts
  vscode/src/completions/tree-sitter/query-tests/test-data/parents.ts
Labels: autocomplete

#1368 Autocomplete: prevent negative `position.character` value
  vscode/src/completions/text-processing/process-inline-completions.test.ts
  vscode/src/completions/text-processing/process-inline-completions.ts
Labels: autocomplete

#1374 VScode: Add popups for all embeddings conditions
  lib/shared/src/chat/context.ts
  lib/shared/src/codebase-context/index.ts
  lib/shared/src/embeddings/client.ts
  lib/shared/src/embeddings/index.ts
  lib/shared/src/sourcegraph-api/graphql/client.ts
  lib/shared/src/test/mocks.ts
  vscode/CHANGELOG.md
  vscode/src/chat/ContextProvider.ts
  vscode/webviews/App.tsx
  vscode/webviews/Chat.tsx
  vscode/webviews/ChatInputContextSimplified.module.css
  vscode/webviews/ChatInputContextSimplified.story.tsx
  vscode/webviews/ChatInputContextSimplified.tsx
  vscode/webviews/Notices/EmbeddingsEnabledNotice.story.tsx
  vscode/webviews/Popups/OnboardingExperimentPopups.story.tsx
  vscode/webviews/Popups/OnboardingExperimentPopups.tsx
Labels: clients/vscode, cody/vscode

#1386 Autocomplete: fix `canUsePartialCompletion` for completions with leading new lines
  vscode/src/completions/can-use-partial-completion.ts
  vscode/src/completions/get-inline-completions-tests/streaming.test.ts
  vscode/src/completions/providers/anthropic.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/unstable-openai.ts
  vscode/src/completions/text-processing/process-inline-completions.ts
  vscode/src/completions/text-processing/truncate-multiline-completion.ts
Labels: autocomplete

#1399 VScode: Clean up login and chat status widgets, tests
  lib/shared/src/chat/context.ts
  vscode/src/chat/ChatViewProvider.ts
  vscode/src/chat/ContextProvider.ts
  vscode/src/chat/protocol.ts
  vscode/src/main.ts
  vscode/src/services/AuthProvider.ts
  vscode/src/services/LocalStorageProvider.ts
  vscode/src/services/OnboardingExperiment.test.ts
  vscode/src/services/OnboardingExperiment.ts
  vscode/test/e2e/auth.test.ts
  vscode/test/e2e/common.ts
  vscode/test/e2e/custom-command.test.ts
  vscode/test/e2e/helpers.ts
  vscode/test/e2e/history.test.ts
  vscode/webviews/App.story.tsx
  vscode/webviews/App.tsx
  vscode/webviews/Chat.tsx
  vscode/webviews/ChatInputContextSimplified.tsx
  vscode/webviews/Error.tsx
  vscode/webviews/Login.module.css
  vscode/webviews/Login.story.tsx
  vscode/webviews/Login.tsx
  vscode/webviews/OnboardingExperiment.story.tsx
  vscode/webviews/OnboardingExperiment.tsx
  vscode/webviews/Popups/OnboardingExperimentPopups.story.tsx
  vscode/webviews/Popups/OnboardingExperimentPopups.tsx
Labels: clients/vscode

#1403 Autocomplete: use cursor position for the `blocks` query
  vscode/src/completions/tree-sitter/queries.ts
  vscode/src/completions/tree-sitter/query-sdk.ts
  vscode/src/completions/tree-sitter/query-tests/test-data/blocks.go
  vscode/src/completions/tree-sitter/query-tests/test-data/blocks.snap.go
  vscode/src/completions/tree-sitter/query-tests/test-data/blocks.snap.ts
Labels: autocomplete

#1404 Autocomplete: add a feature flag for streaming truncation
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/src/completions/can-use-partial-completion.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions-tests/multiline-truncation.test.ts
  vscode/src/completions/get-inline-completions-tests/post-processing.test.ts
  vscode/src/completions/get-inline-completions-tests/streaming.test.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/providers/anthropic.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/provider.ts
  vscode/src/completions/providers/unstable-openai.ts
  vscode/src/completions/request-manager.test.ts
  vscode/src/completions/text-processing/parse-and-truncate-completion.ts
  vscode/src/completions/text-processing/parse-completion.ts
  vscode/src/completions/text-processing/process-inline-completions.test.ts
  vscode/src/completions/text-processing/process-inline-completions.ts
  vscode/src/completions/text-processing/truncate-multiline-completion.ts
  vscode/src/completions/text-processing/truncate-parsed-completion.ts
  vscode/src/completions/text-processing/utils.ts
  vscode/src/completions/tracer/traceView.ts
Labels: autocomplete

#1430 Autocomplete: update the outdated setting description
  vscode/package.json
  vscode/src/sort-algos.ts
  vscode/test/completions/mock-vscode.ts
Labels: autocomplete

#1450 Autocomplete: add `// only` support to `tree-sitter` snapshot tests
  vscode/src/completions/tree-sitter/query-tests/annotate-and-match-snapshot.ts
Labels: autocomplete

#1471 DX: fix eslint errors caused by the config upgrade
  agent/src/editor.ts
  lib/ui/src/Chat.tsx
  vscode/src/completions/tree-sitter/grammars.ts
  vscode/src/fetch.ts
  vscode/src/non-stop/FixupController.ts
  vscode/src/services/InlineController.ts
Labels: dx

#1440 fix: update post process logic for claude instant
  completions-review-tool/data/anthropic-infill-1698092878117.json
  vscode/src/completions/get-inline-completions-tests/common.test.ts
  vscode/src/completions/providers/anthropic.ts
  vscode/src/completions/text-processing/parse-and-truncate-completion.ts
  vscode/test/completions/mock-vscode.ts
Labels: autocomplete

#1490 Autocomplete: add `jsx_attribute` completion intent
  vscode/src/completions/test-helpers.ts
  vscode/src/completions/tree-sitter/queries.ts
  vscode/src/completions/tree-sitter/query-tests/intents.test.ts
  vscode/src/completions/tree-sitter/query-tests/test-data/intents.jsx
  vscode/src/completions/tree-sitter/query-tests/test-data/intents.snap.jsx
  vscode/src/completions/tree-sitter/query-tests/test-data/intents.snap.ts
  vscode/src/completions/tree-sitter/query-tests/test-data/intents.snap.tsx
  vscode/src/completions/tree-sitter/query-tests/test-data/intents.ts
  vscode/src/completions/tree-sitter/query-tests/test-data/intents.tsx
Labels: autocomplete

#1507 Autocomplete: do adjust a completion range if it does not match the current line suffix
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/text-processing/process-inline-completions.test.ts
  vscode/src/completions/text-processing/process-inline-completions.ts
Labels: autocomplete

#1551 VS Code: changelog updates
  vscode/CHANGELOG.md
Labels: autocomplete
