Repository sourcegraph/cody, pull requests merged in 2023-12, with the labels that each got.

#2278 Clean up VS Code Extension Settings
  vscode/package.json
Labels: bug

#2279 Update walkthrough to match product features
  vscode/CHANGELOG.md
  vscode/package.json
  vscode/walkthroughs/autocomplete.md
  vscode/walkthroughs/chat.md
  vscode/walkthroughs/commands.md
  vscode/walkthroughs/edit.md
  vscode/walkthroughs/explain.md
  vscode/walkthroughs/fix.md
  vscode/walkthroughs/inline-assist.md
  vscode/walkthroughs/learn-more.md
  vscode/walkthroughs/search.md
Labels: bug

#2322 Autocomplete: remove `scminput` from the autocomplete languages setting default value
  vscode/package.json
  vscode/src/completions/create-inline-completion-item-provider.test.ts
  vscode/src/completions/create-inline-completion-item-provider.ts
  vscode/src/completions/providers/createProvider.test.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
Labels: autocomplete

#2324 Autocomplete: fix invalid position
  vscode/src/completions/providers/dynamic-multiline.ts
Labels: autocomplete

#2323 Autocomplete: log raw error in the development env
  lib/shared/src/sourcegraph-api/completions/client.ts
  lib/shared/src/sourcegraph-api/completions/nodeClient.ts
  vscode/src/completions/client.ts
  vscode/src/log.ts
Labels: autocomplete

#2326 Autocomplete: remove stop sequences for dynamuc multliline completions
  agent/recordings/FullConfig_234680970/recording.har
  vscode/src/completions/providers/anthropic.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/unstable-openai.ts
Labels: autocomplete

#2280 Update the marketplace readme to match product features
  vscode/README.md
Labels: bug

#2370 Chat: send `openLLMDropdown:clicked` only on dropdown open
  vscode/webviews/Components/ChatModelDropdownMenu.tsx
Labels: cody/vscode

#2372 Chat: use the correct user tier in the upsell event
  lib/ui/src/chat/ErrorItem.tsx
  vscode/src/completions/inline-completion-item-provider.ts
Labels: cody/vscode

#2327 Autocomplete: format completions on accept
  agent/src/agent.ts
  lib/shared/src/configuration.ts
  vscode/CHANGELOG.md
  vscode/package.json
  vscode/src/completions/create-inline-completion-item-provider.ts
  vscode/src/completions/format-completion.ts
  vscode/src/completions/inline-completion-item-provider.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/logger.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/src/non-stop/FixupController.ts
  vscode/src/non-stop/TaskViewProvider.ts
  vscode/src/non-stop/utils.ts
  vscode/src/utils.test.ts
  vscode/src/utils.ts
Labels: autocomplete

#2425 Autocomplete: extract the shared completion params logic
  agent/recordings/FullConfig_234680970/recording.har
  agent/src/index.test.ts
  vscode/src/completions/create-inline-completion-item-provider.ts
  vscode/src/completions/providers/anthropic.ts
  vscode/src/completions/providers/create-provider.test.ts
  vscode/src/completions/providers/create-provider.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/get-completion-params.ts
  vscode/src/completions/providers/unstable-openai.ts
Labels: autocomplete

#2426 Autocomplete: extract the shared generate completions logic
  agent/recordings/FullConfig_234680970/recording.har
  agent/src/index.test.ts
  vscode/src/completions/providers/anthropic.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/generate-completions.ts
  vscode/src/completions/providers/unstable-openai.ts
Labels: autocomplete

#2471 VS Code: call the error callback only once per request
  lib/shared/src/sourcegraph-api/completions/nodeClient.ts
  vscode/src/chat/chat-view/SimpleChatPanelProvider.ts
Labels: cody/vscode
