Repository sourcegraph/cody, pull requests merged in 2023-07, with the labels that each got.

#108 autocomplete: cut-off completions on partial suffix match
  vscode/package.json
  vscode/src/completions/completion.test.ts
  vscode/src/completions/text-processing.ts
Labels: autocomplete

#81 feature: custom prompts (internal)
  lib/shared/src/chat/recipes/my-prompt.ts
  lib/shared/src/chat/recipes/recipe.ts
  lib/shared/src/editor/index.ts
  lib/shared/src/prompt/templates.ts
  vscode/src/chat/ChatViewProvider.ts
  vscode/src/chat/protocol.ts
  vscode/src/chat/recipes.ts
  vscode/src/editor/vscode-editor.ts
  vscode/src/main.ts
  vscode/src/my-cody/MyPromptController.ts
  vscode/src/my-cody/MyToolsProvider.ts
  vscode/webviews/App.tsx
  vscode/webviews/Recipes.module.css
  vscode/webviews/Recipes.tsx
Labels: clients/vscode

#70 Cody: Bot response multiplexer publishes, then completes turns
  lib/shared/src/chat/bot-response-multiplexer.test.ts
  lib/shared/src/chat/bot-response-multiplexer.ts
Labels: clients/vscode

#276 Cody: Limit completions to 2 lines in single line mode
  vscode/src/completions/completion.test.ts
  vscode/src/completions/providers/anthropic.ts
Labels: autocomplete

#286 Autocomplete: Fix merging existing line suffix
  vscode/src/completions/completion.test.ts
  vscode/src/completions/index.ts
  vscode/src/testutils/mocks.ts
Labels: autocomplete

#329 Autocomplete: Remove multilineMode in favor of a simple boolean
  vscode/src/completions/index.ts
  vscode/src/completions/logger.ts
  vscode/src/completions/multiline.ts
  vscode/src/completions/providers/anthropic.ts
  vscode/src/completions/providers/provider.ts
  vscode/src/completions/providers/unstable-codegen.ts
  vscode/src/completions/providers/unstable-huggingface.ts
Labels: autocomplete

#317 Autocomplete: Cache previously cancelled completions
  vscode/src/completions/cache.ts
  vscode/src/completions/completion.test.ts
  vscode/src/completions/index.ts
  vscode/src/completions/logger.ts
  vscode/src/completions/request-manager.test.ts
  vscode/src/completions/request-manager.ts
  vscode/src/main.ts
  vscode/src/testutils/mocks.ts
  vscode/test/completions/run-code-completions-on-dataset.ts
Labels: autocomplete

#322 [Cody completion]: Improve trailing completion based on suffix string
  vscode/src/completions/completion.test.ts
  vscode/src/completions/text-processing.ts
  vscode/src/completions/utils/string-comparator.test.ts
  vscode/src/completions/utils/string-comparator.ts
Labels: autocomplete

#107 Handle network disconnection
  vscode/CHANGELOG.md
  vscode/src/chat/ChatViewProvider.ts
  vscode/src/chat/MessageProvider.ts
  vscode/src/chat/protocol.ts
  vscode/src/services/AuthProvider.ts
  vscode/webviews/Error.tsx
  vscode/webviews/Login.module.css
Labels: clients/vscode, os/macOS
