Repository sourcegraph/cody, pull requests merged in 2024-12, with the labels that each got.

#6257 chore/release: Update CHANGELOG for VSCode 1.48.0
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport vscode-v1.48.x

#6268 fix/edits: Revert distributed tracing (#6178 and #6192)
  lib/shared/src/prompt/prompt-string.ts
  lib/shared/src/tracing/index.ts
  package.json
  pnpm-lock.yaml
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/chat/protocol.ts
  vscode/src/edit/manager.ts
  vscode/src/edit/provider.ts
  vscode/src/edit/smart-apply.ts
  vscode/src/services/open-telemetry/CodyTraceExport.ts
  vscode/src/services/open-telemetry/CodyTraceExportWeb.ts
  vscode/src/services/open-telemetry/trace-sender.ts
  vscode/src/services/utils/codeblock-action-tracker.ts
  vscode/webviews/App.tsx
  vscode/webviews/Chat.tsx
  vscode/webviews/chat/Transcript.story.tsx
  vscode/webviews/chat/Transcript.test.tsx
  vscode/webviews/chat/Transcript.tsx
  vscode/webviews/utils/spanManager.ts
  vscode/webviews/utils/telemetry.ts
  vscode/webviews/utils/webviewOpenTelemetryService.ts
  web/lib/agent/shims/stream.ts
  web/lib/agent/shims/zlib.ts
  web/vite.config.ts
Labels: backport jb-v7.5.x, backport vscode-v1.50.x

#6265 chore(telemetry): remove legacy back-compat
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/CodyAgentServer.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/Constants.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/Event.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/EventProperties.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/ExtensionConfiguration.kt
  agent/protocol.md
  agent/src/TestClient.ts
  agent/src/agent.ts
  agent/src/enterprise-demo.test.ts
  agent/src/enterprise-s2.test.ts
  lib/shared/src/index.ts
  lib/shared/src/sourcegraph-api/graphql/client.ts
  lib/shared/src/sourcegraph-api/graphql/queries.ts
  lib/shared/src/sourcegraph-api/telemetry/GraphQLTelemetryExporter.test.ts
  lib/shared/src/sourcegraph-api/telemetry/GraphQLTelemetryExporter.ts
  lib/shared/src/telemetry-v2/TelemetryRecorderProvider.ts
  vscode/CHANGELOG.md
  vscode/e2e/utils/vscody/fixture/polly.ts
  vscode/src/jsonrpc/agent-protocol.ts
  vscode/src/services/telemetry-v2.ts
  vscode/uninstall/post-uninstall.ts
Labels: backport vscode-v1.48.x, backport jb-v7.5.x, backport vscode-v1.50.x

#6276 backport/vscode/1.50: chore(telemetry): remove legacy back-compat (#6265)
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/CodyAgentServer.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/Constants.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/Event.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/EventProperties.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/ExtensionConfiguration.kt
  agent/protocol.md
  agent/src/TestClient.ts
  agent/src/agent.ts
  agent/src/enterprise-demo.test.ts
  agent/src/enterprise-s2.test.ts
  lib/shared/src/index.ts
  lib/shared/src/sourcegraph-api/graphql/client.ts
  lib/shared/src/sourcegraph-api/graphql/queries.ts
  lib/shared/src/sourcegraph-api/telemetry/GraphQLTelemetryExporter.test.ts
  lib/shared/src/sourcegraph-api/telemetry/GraphQLTelemetryExporter.ts
  lib/shared/src/telemetry-v2/TelemetryRecorderProvider.ts
  vscode/CHANGELOG.md
  vscode/e2e/utils/vscody/fixture/polly.ts
  vscode/src/jsonrpc/agent-protocol.ts
  vscode/src/services/telemetry-v2.ts
  vscode/uninstall/post-uninstall.ts
Labels: backports

#6279 refactor(deep-cody): disable shell command context by default
  lib/shared/src/configuration.ts
  vscode/package.json
  vscode/src/chat/agentic/CodyChatMemory.ts
  vscode/src/chat/agentic/CodyToolProvider.ts
  vscode/src/chat/agentic/DeepCody.ts
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/commands/context/config.ts
  vscode/src/commands/context/shell.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/src/testutils/mocks.ts
  vscode/webviews/components/Notices.tsx
  vscode/webviews/components/modelSelectField/ModelSelectField.tsx
Labels: backport vscode-v1.50.x

#6294 Double revert the PRs for distributed tracing to finally get them merged into the codebase
  lib/shared/src/prompt/prompt-string.ts
  lib/shared/src/tracing/index.ts
  package.json
  pnpm-lock.yaml
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/chat/protocol.ts
  vscode/src/edit/manager.ts
  vscode/src/edit/provider.ts
  vscode/src/edit/smart-apply.ts
  vscode/src/services/open-telemetry/CodyTraceExport.ts
  vscode/src/services/open-telemetry/CodyTraceExportWeb.ts
  vscode/src/services/open-telemetry/trace-sender.ts
  vscode/src/services/utils/codeblock-action-tracker.ts
  vscode/webviews/App.tsx
  vscode/webviews/Chat.tsx
  vscode/webviews/chat/Transcript.story.tsx
  vscode/webviews/chat/Transcript.test.tsx
  vscode/webviews/chat/Transcript.tsx
  vscode/webviews/utils/spanManager.ts
  vscode/webviews/utils/telemetry.ts
  vscode/webviews/utils/webviewOpenTelemetryService.ts
  web/lib/agent/shims/stream.ts
  web/lib/agent/shims/zlib.ts
  web/vite.config.ts
Labels: backport vscode-v1.50.x

#6298 feat(jetbrains): enable shell capabilities
  jetbrains/src/main/kotlin/com/sourcegraph/cody/agent/CodyAgent.kt
Labels: backport jb-v7.5.x

#6310 fix(release): remove brackets around version number
  vscode/CHANGELOG.md
Labels: backport vscode-v1.50.x

#6214 feat(audoedit): inline renderer POC
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/renderer/decorators/base.ts
  vscode/src/autoedits/renderer/decorators/default-decorator.ts
  vscode/src/autoedits/renderer/decorators/inline-diff-decorator.ts
  vscode/src/autoedits/renderer/diff-utils.test.ts
  vscode/src/autoedits/renderer/diff-utils.ts
  vscode/src/autoedits/renderer/inline-manager.ts
  vscode/src/autoedits/renderer/manager.ts
  vscode/src/autoedits/utils.ts
Labels: autoedit

#6236 feat(audoedit): enable E2E UX testing with mock responses
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/renderer/renderer-testing.ts
  vscode/src/main.ts
Labels: autoedit

#6313 feat(audoedit): avoid decoration info mutation
  vscode/src/autoedits/renderer/decorators/base.ts
  vscode/src/autoedits/renderer/decorators/inline-diff-decorator.ts
  vscode/src/autoedits/renderer/diff-utils.test.ts
  vscode/src/autoedits/renderer/diff-utils.ts
  vscode/src/autoedits/renderer/inline-manager.test.ts
  vscode/src/autoedits/renderer/inline-manager.ts
Labels: autoedit

#6324 Fix manual intent selection for onebox
  vscode/webviews/chat/Transcript.tsx
  vscode/webviews/chat/cells/messageCell/human/HumanMessageCell.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/HumanMessageEditor.tsx
Labels: backport vscode-v1.52.x

#6341 feat(audoedit): improve inline renderer offline testing logic
  vscode/src/autoedits/renderer/renderer-testing.ts
Labels: autoedit

#6334 fix(deep-cody): missing experimental badge on model list
  lib/shared/src/models/model.ts
  vscode/webviews/components/Notices.tsx
Labels: backport vscode-v1.52.x

#6340 feat(audoedit): smartly merge whitespace line changes
  vscode/src/autoedits/renderer/decorators/base.ts
  vscode/src/autoedits/renderer/decorators/default-decorator.ts
  vscode/src/autoedits/renderer/decorators/inline-diff-decorator.ts
  vscode/src/autoedits/renderer/diff-utils.test.ts
  vscode/src/autoedits/renderer/diff-utils.ts
  vscode/src/autoedits/renderer/inline-manager.ts
Labels: autoedit

#6353 refactor(deep-cody): show model to Pro users only
  lib/shared/src/models/sync.ts
Labels: backport jb-v7.6.x, backport vscode-v1.52.x

#6366 fix(deep-cody) Rate Limiter Reset Logic
  vscode/src/chat/agentic/DeepCodyRateLimiter.test.ts
  vscode/src/chat/agentic/DeepCodyRateLimiter.ts
Labels: backport jb-v7.6.x, backport vscode-v1.52.x

#6343 feat(audoedit): shrink autoedits on document suffix match
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/shrink-prediction.test.ts
  vscode/src/autoedits/shrink-prediction.ts
  vscode/src/autoedits/utils.test.ts
  vscode/src/autoedits/utils.ts
Labels: autoedit

#6377 fix(deep-cody): Rate limiter synchronization issue
  vscode/src/chat/agentic/DeepCodyRateLimiter.test.ts
  vscode/src/chat/agentic/DeepCodyRateLimiter.ts
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/services/LocalStorageProvider.ts
Labels: backport vscode-v1.52.x

#6372 Add instance banners support
  agent/recordings/auth_2503977039/recording.har.yaml
  agent/recordings/autocomplete_2136217965/recording.har.yaml
  agent/recordings/cody-chat_103640681/recording.har.yaml
  agent/recordings/customCommandsClient_509552979/recording.har.yaml
  agent/recordings/defaultClient_631904893/recording.har.yaml
  agent/recordings/document-code_965949506/recording.har.yaml
  agent/recordings/edit_1541920145/recording.har.yaml
  agent/recordings/enterpriseMainBranchClient_759014996/recording.har.yaml
  agent/recordings/fix_3001320056/recording.har.yaml
  lib/shared/src/index.ts
  lib/shared/src/sourcegraph-api/clientConfig.test.ts
  lib/shared/src/sourcegraph-api/clientConfig.ts
  lib/shared/src/sourcegraph-api/graphql/client.ts
  vscode/src/chat/chat-view/ChatController.test.ts
  vscode/webviews/App.tsx
  vscode/webviews/CodyPanel.tsx
  vscode/webviews/components/Notices.story.tsx
  vscode/webviews/components/Notices.tsx
  web/CHANGELOG.md
  web/lib/components/CodyWebChat.tsx
  web/package.json
Labels: backport jb-v7.6.x, backport vscode-v1.52.x

#6405 fix(audoedit): do not render removal decorations twice
  vscode/src/autoedits/renderer/decorators/inline-diff-decorator.ts
Labels: autoedit

#6406 feat(audoedit): dismiss suggestions on selection change
  vscode/src/autoedits/renderer/inline-manager.ts
Labels: autoedit

#6399 chore(release): remove next pre-release branch and label creation
  .github/workflows/vscode-stable-release.yml
Labels: backport vscode-v1.52.x

#6414 chore/release: Bump package version and update changelog for 1.52
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport vscode-v1.52.x

#6408 fix(audoedit): fix renderer testing command
  vscode/src/autoedits/renderer/renderer-testing.ts
Labels: autoedit

#6420 Fix small screen filters panel opening & change sticky intent behaviour
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/SerializedChatMessage.kt
  lib/shared/src/chat/transcript/index.ts
  lib/shared/src/chat/transcript/messages.ts
  vscode/src/chat/chat-view/ChatController.test.ts
  vscode/src/chat/chat-view/ChatController.ts
  vscode/webviews/chat/Transcript.tsx
  vscode/webviews/chat/cells/messageCell/assistant/SearchResults.tsx
  vscode/webviews/chat/cells/messageCell/assistant/SwitchIntent.tsx
  vscode/webviews/chat/cells/messageCell/human/HumanMessageCell.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/HumanMessageEditor.tsx
  web/CHANGELOG.md
  web/package.json
Labels: backport vscode-v1.54.x, backport jb-v7.7.x

#6441 include symbol matches in search results
  vscode/webviews/chat/cells/messageCell/assistant/SearchResults.tsx
Labels: backport vscode-v1.54.x

#6443 Enable repo boost for inactive editor
  vscode/src/chat/chat-view/ChatController.ts
Labels: backport vscode-v1.54.x

#6430 feat(audoedit): implement basic analytics logger
  vscode/src/autoedits/adapters/cody-gateway.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/analytics-logger/index.ts
  vscode/src/autoedits/analytics-logger/suggestion-id-registry.ts
  vscode/src/completions/analytics-logger.ts
Labels: autoedit

#6404 fix(autoedit): fix shrink prediction logic
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/shrink-prediction.test.ts
  vscode/src/autoedits/shrink-prediction.ts
  vscode/src/autoedits/utils.test.ts
  vscode/src/autoedits/utils.ts
Labels: autoedit

#6460 feat(audoedit): extract autoedits config from the provider
  vscode/src/autoedits/adapters/base.ts
  vscode/src/autoedits/adapters/cody-gateway.test.ts
  vscode/src/autoedits/adapters/cody-gateway.ts
  vscode/src/autoedits/adapters/create-adapter.ts
  vscode/src/autoedits/adapters/fireworks.test.ts
  vscode/src/autoedits/adapters/fireworks.ts
  vscode/src/autoedits/adapters/openai.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.test.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.test.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/autoedits-config.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/prompt/base.ts
  vscode/src/autoedits/prompt/default-prompt-strategy.ts
  vscode/src/autoedits/prompt/short-term-diff-prompt-strategy.ts
Labels: autoedit

#6462 feat(audoedit): add notebook mocks and basic unit tests
  vitest.setup.ts
  vscode/src/autoedits/prompt/prompt-utils.test.ts
  vscode/src/completions/test-helpers.ts
  vscode/src/testutils/mocks.ts
Labels: autoedit

#6466 chore/release: Bump package version and update changelog for 1.54
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport vscode-v1.54.x

#6471 feat(audoedit): remove the auto edit experimental command
  vscode/package.json
  vscode/src/commands/execute/auto-edit.ts
  vscode/src/commands/index.ts
  vscode/src/main.ts
Labels: autoedit

#6465 feat(audoedit): ensure inline completions are also hidden on dismiss
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/renderer/manager.ts
Labels: autoedit

#6472 chore(audoedit): consistent use of the ouptut channel logger
  vscode/src/autoedits/adapters/cody-gateway.ts
  vscode/src/autoedits/adapters/create-adapter.ts
  vscode/src/autoedits/adapters/fireworks.ts
  vscode/src/autoedits/adapters/openai.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/filter-prediction-edits.test.ts
  vscode/src/autoedits/filter-prediction-edits.ts
  vscode/src/autoedits/logger.ts
  vscode/src/autoedits/output-channel-logger.ts
  vscode/src/autoedits/prompt/base.ts
  vscode/src/autoedits/prompt/default-prompt-strategy.ts
  vscode/src/autoedits/prompt/prompt-utils.ts
  vscode/src/autoedits/prompt/short-term-diff-prompt-strategy.ts
  vscode/src/autoedits/prompt/test-helper.ts
  vscode/src/autoedits/renderer/inline-manager.ts
  vscode/src/autoedits/renderer/manager.ts
  vscode/src/autoedits/renderer/mock-renderer.ts
  vscode/src/autoedits/shrink-prediction.test.ts
  vscode/src/autoedits/shrink-prediction.ts
  vscode/src/output-channel-logger.ts
Labels: autoedit

#6474 chore(audoedit): decouple `codeToReplaceData` from `getPromptForModelType`
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/prompt/base.ts
  vscode/src/autoedits/prompt/default-prompt-strategy.test.ts
  vscode/src/autoedits/prompt/default-prompt-strategy.ts
  vscode/src/autoedits/prompt/prompt-utils.test.ts
  vscode/src/autoedits/prompt/prompt-utils.ts
  vscode/src/autoedits/prompt/short-term-diff-prompt-strategy.test.ts
  vscode/src/autoedits/prompt/short-term-diff-prompt-strategy.ts
  vscode/src/autoedits/prompt/test-helper.ts
Labels: autoedit
