Repository sourcegraph/cody, pull requests merged in 2024-08, with the labels that each got.

#5128 Agent: Revert breaking protocol change
  vscode/src/chat/chat-view/ChatController.ts
Labels: bug

#5162 Ensure normalized URI is used
  agent/src/AgentDiagnostics.ts
  agent/src/agent.ts
  agent/src/vscode-shim.ts
Labels: bug

#5267 Model Provider: rename `model.model` to `model.id`
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/Model.kt
  agent/src/cli/command-bench/command-bench.ts
  agent/src/cli/command-chat.ts
  agent/src/edit.test.ts
  agent/src/index.test.ts
  lib/shared/src/llm-providers/ollama/utils.ts
  lib/shared/src/llm-providers/utils.ts
  lib/shared/src/models/dotcom.ts
  lib/shared/src/models/index.test.ts
  lib/shared/src/models/index.ts
  lib/shared/src/models/types.ts
  vscode/src/chat/chat-view/prompt.test.ts
  vscode/src/commands/scm/source-control.ts
  vscode/src/completions/providers/create-provider.ts
  vscode/src/completions/providers/openaicompatible.ts
  vscode/src/edit/input/get-items/model.ts
  vscode/src/models/modelMigrator.ts
  vscode/src/models/sync.test.ts
  vscode/src/models/sync.ts
  vscode/webviews/App.tsx
  vscode/webviews/chat/cells/contextCell/ContextCell.tsx
  vscode/webviews/chat/cells/messageCell/assistant/AssistantMessageCell.tsx
  vscode/webviews/chat/models/chatModelContext.tsx
  vscode/webviews/components/modelSelectField/ModelSelectField.story.tsx
  vscode/webviews/components/modelSelectField/ModelSelectField.tsx
  vscode/webviews/storybook/VSCodeStoryDecorator.tsx
  web/lib/components/CodyWebPanel.tsx
Labels: autocomplete, enterprise

#5268 Autocomplete: remove Anthropic fallback
  lib/shared/src/sourcegraph-api/graphql/client.ts
  vscode/src/completions/create-multi-model-inline-completion-provider.ts
  vscode/src/completions/providers/create-provider.test.ts
  vscode/src/completions/providers/create-provider.ts
  vscode/test/fixtures/mock-server.ts
Labels: autocomplete

#5284 Autocomplete: extract the fast-path client
  lib/shared/src/configuration.ts
  vscode/src/completions/default-client.ts
  vscode/src/completions/fast-path-client.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/external-services.ts
Labels: autocomplete

#5282 Autocomplete: reduce `createProviderConfig` duplication
  lib/shared/src/models/index.ts
  vscode/src/completions/create-multi-model-inline-completion-provider.ts
  vscode/src/completions/providers/create-provider.test.ts
  vscode/src/completions/providers/create-provider.ts
  vscode/src/completions/providers/openaicompatible.ts
Labels: autocomplete

#5283 Autocomplete: remove starcoder2
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/src/completions/get-inline-completions-tests/models.test.ts
  vscode/src/completions/providers/create-provider.ts
  vscode/src/completions/providers/fireworks.ts
Labels: autocomplete

#5307 Autocomplete: refactor the Fireworks provider
  agent/recordings/autocomplete_2136217965/recording.har.yaml
  agent/src/autocomplete.test.ts
  vscode/src/completions/model-helpers/codegemma.ts
  vscode/src/completions/model-helpers/codellama.ts
  vscode/src/completions/model-helpers/deepseek.ts
  vscode/src/completions/model-helpers/default.ts
  vscode/src/completions/model-helpers/index.ts
  vscode/src/completions/model-helpers/starcoder.ts
  vscode/src/completions/providers/experimental-ollama.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/ollama-models.ts
Labels: autocomplete

#5313 Revert: rehype-highlight bump
  pnpm-lock.yaml
  vscode/CHANGELOG.md
  vscode/package.json
Labels: bug

#5339 Autocomplete: enable smart-throttle and hot-streak by default
  lib/shared/src/configuration.ts
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/CHANGELOG.md
  vscode/package.json
  vscode/src/completions/completion-provider-config.ts
  vscode/src/completions/get-completion-provider.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions-tests/hot-streak.test.ts
  vscode/src/completions/get-inline-completions-tests/streaming.test.ts
  vscode/src/completions/inline-completion-item-provider-e2e.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/providers/create-provider.ts
  vscode/src/completions/providers/expopenaicompatible.ts
  vscode/src/completions/providers/fetch-and-process-completions.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/get-completion-params.ts
  vscode/src/completions/providers/openaicompatible.ts
  vscode/src/completions/providers/provider.ts
  vscode/src/completions/request-manager.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/src/testutils/mocks.ts
Labels: autocomplete

#5343 Autocomplete: use model helpers in `openaicompatible` provider
  agent/recordings/autocomplete_2136217965/recording.har.yaml
  agent/src/autocomplete.test.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/model-helpers/__tests__/codegemma.test.ts
  vscode/src/completions/model-helpers/__tests__/codellama.test.ts
  vscode/src/completions/model-helpers/__tests__/deepseek.test.ts
  vscode/src/completions/model-helpers/__tests__/default.test.ts
  vscode/src/completions/model-helpers/__tests__/mistral.test.ts
  vscode/src/completions/model-helpers/__tests__/starcoder.test.ts
  vscode/src/completions/model-helpers/__tests__/test-data.ts
  vscode/src/completions/model-helpers/codegemma.ts
  vscode/src/completions/model-helpers/codellama.ts
  vscode/src/completions/model-helpers/deepseek.ts
  vscode/src/completions/model-helpers/default.ts
  vscode/src/completions/model-helpers/index.ts
  vscode/src/completions/model-helpers/mistral.ts
  vscode/src/completions/model-helpers/starcoder.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/openaicompatible.ts
Labels: autocomplete

#5355 Autocomplete: remove unused `fim-prompt-utils`
  vscode/src/completions/providers/fim-prompt-utils.ts
Labels: autocomplete

#5356 Autocomplete: split `createProvider` into multiple files
  vscode/src/completions/providers/create-provider.ts
  vscode/src/completions/providers/get-experiment-model.ts
  vscode/src/completions/providers/get-model-info.ts
Labels: autocomplete

#5380 Autocomplete: fix Anthropic model for PLG users
  vscode/src/completions/providers/create-provider.test.ts
  vscode/src/completions/providers/create-provider.ts
Labels: autocomplete
