Repository sourcegraph/cody, pull requests merged in 2024-07, with the labels that each got.

#4732 Cody Context Filters: disable logs in tests
  lib/shared/src/cody-ignore/context-filters-provider.ts
Labels: enterprise

#4737 Autocomplete: limit the number of hot-streak lines
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions-tests/hot-streak.test.ts
  vscode/src/completions/providers/hot-streak.ts
  vscode/src/testutils/mocks.ts
Labels: autocomplete

#4763 Agent: switch rate-limited client account
  agent/recordings/defaultClient_631904893/recording.har.yaml
  agent/recordings/rateLimitedClient_2043004676/recording.har.yaml
  agent/src/index.test.ts
  vscode/src/testutils/testing-credentials.ts
Labels: agent

#4767 VS Code: Release v1.24.1
  vscode/CHANGELOG.md
  vscode/package.json
Labels: clients/vscode

#4778 Autocomplete: increase autocomplete request manager cache size
  vscode/CHANGELOG.md
  vscode/src/completions/request-manager.ts
Labels: autocomplete

#4779 Autocomplete: feature flags for parallel latency A/B tests
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/src/completions/completion-provider-config.ts
Labels: autocomplete

#4785 VS Code: Release v1.24.2
  vscode/CHANGELOG.md
  vscode/package.json
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/services/autocomplete-stage-counter-logger.test.ts
Labels: autocomplete

#4804 Autocomplete: add `speculation-matched-tokens` info to analytics events
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  lib/shared/src/index.ts
  lib/shared/src/inferenceClient/misc.ts
  lib/shared/src/llm-providers/ollama/completions-client.ts
  lib/shared/src/sourcegraph-api/completions/client.ts
  pnpm-lock.yaml
  vscode/package.json
  vscode/src/completions/client.ts
  vscode/src/completions/get-inline-completions-tests/analytics.test.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/logger.ts
  vscode/src/completions/providers/create-provider.test.ts
  vscode/src/completions/providers/fetch-and-process-completions.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/text-processing/process-inline-completions.ts
  vscode/src/log.ts
Labels: autocomplete, telemetry

#4814 Autocomplete: add char count to `yield` span events
  vscode/src/completions/client.ts
  vscode/src/completions/providers/fireworks.ts
Labels: autocomplete

#4813 Autocomplete: decrease requests timeout
  agent/recordings/defaultClient_631904893/recording.har.yaml
  agent/recordings/vscode_525627603/recording.har.yaml
  agent/src/index.test.ts
  vscode/CHANGELOG.md
  vscode/src/completions/providers/get-completion-params.ts
Labels: autocomplete

#4815 Autocomplete: changelog
  vscode/CHANGELOG.md
Labels: autocomplete

#4817 Autocomplete: fix hot-streak cache keys for long documents
  lib/shared/src/completions/types.ts
  vscode/CHANGELOG.md
  vscode/src/completions/get-current-doc-context.test.ts
  vscode/src/completions/get-current-doc-context.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions-tests/hot-streak.test.ts
  vscode/src/completions/inline-completion-item-provider-config-singleton.ts
  vscode/src/completions/inline-completion-item-provider.test.ts
  vscode/src/completions/text-processing/utils.ts
Labels: autocomplete

#4818 Autocomplete: an extra abort call for API request
  vscode/CHANGELOG.md
  vscode/src/completions/providers/fetch-and-process-completions.ts
Labels: autocomplete

#4834 Autocomplete: fuzzy cache matches
  vscode/src/completions/get-inline-completions-tests/analytics.test.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/logger.test.ts
  vscode/src/completions/logger.ts
  vscode/src/completions/request-manager.test.ts
  vscode/src/completions/request-manager.ts
Labels: autocomplete

#4850 Autocomplete: add `stageTimings` to analytics events
  vscode/src/completions/get-inline-completions-tests/analytics.test.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/logger.test.ts
  vscode/src/completions/logger.ts
  vscode/src/completions/reuse-last-candidate.ts
  vscode/src/services/autocomplete-stage-counter-logger.ts
Labels: autocomplete

#4865 Autocomplete: chars logger account for multiline deletions
  vscode/src/services/CharactersLogger.test.ts
  vscode/src/services/CharactersLogger.ts
Labels: autocomplete

#4883 Autocomplete: changelog
  vscode/CHANGELOG.md
Labels: autocomplete

#4902 Autocomplete: fix prefix computation in cache keys
  vscode/CHANGELOG.md
  vscode/src/completions/request-manager.test.ts
  vscode/src/completions/request-manager.ts
  vscode/src/completions/test-helpers.ts
Labels: autocomplete

#4914 VS Code: Release v1.26.4
  vscode/CHANGELOG.md
  vscode/package.json
Labels: clients/vscode

#4961 Autocomplete: always resolve something on document open calls
  vscode/CHANGELOG.md
  vscode/src/completions/context/retrievers/cached-retriever.ts
  vscode/src/completions/context/retrievers/jaccard-similarity/jaccard-similarity-retriever.ts
Labels: autocomplete

#4965 VS Code: Release v1.26.7
  vscode/CHANGELOG.md
  vscode/package.json
Labels: clients/vscode

#4982 Autocomplete: set the default anthropic model only for certain cases
  vscode/src/completions/providers/anthropic.ts
  vscode/src/completions/providers/create-provider.ts
Labels: autocomplete

#5012 Autocomplete: add analytics event agent tests
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/CodyAgentServer.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/Constants.kt
  agent/src/agent.ts
  agent/src/autocomplete.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/jsonrpc/agent-protocol.ts
Labels: autocomplete

#5018 VSCode: Handle improperly aborted bfg/symf download
  vscode/src/local-context/utils.ts
Labels: bug

#5040 Autocomplete: ignore leading empty leading lines
  vscode/CHANGELOG.md
  vscode/src/completions/get-inline-completions-tests/streaming.test.ts
  vscode/src/completions/providers/fetch-and-process-completions.ts
  vscode/src/completions/text-processing/utils.ts
Labels: autocomplete

#4901 Autocomplete: preload completions on cursor movement
  agent/src/AgentTextDocument.test.ts
  agent/src/AgentTextDocument.ts
  lib/shared/src/configuration.ts
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/package.json
  vscode/src/completions/completion-provider-config.ts
  vscode/src/completions/get-completion-provider.ts
  vscode/src/completions/get-current-doc-context.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider-e2e.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/logger.ts
  vscode/src/completions/request-manager.test.ts
  vscode/src/completions/request-manager.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/src/testutils/mocks.ts
  vscode/src/testutils/textDocument.ts
Labels: autocomplete
