Repository sourcegraph/cody, pull requests merged in 2024-05, with the labels that each got.

#3975 adding finetuned model for code completions
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/src/completions/providers/create-provider.ts
  vscode/src/completions/providers/fireworks.ts
Labels: wip

#4066 Ollama: handle incomplete response chunks
  lib/shared/src/llm-providers/ollama/completions-client.ts
  vscode/CHANGELOG.md
Labels: cody/vscode, ollama

#4069 Cody Ignore: sample repo-name-resolver spans
  lib/shared/src/cody-ignore/context-filters-provider.ts
Labels: cody/vscode, pfp-vscode-cody-ignore

#3882 adding context snippets and the repo name in the context summary
  vscode/src/chat/chat-view/CodebaseStatusProvider.ts
  vscode/src/chat/chat-view/SimpleChatPanelProvider.ts
  vscode/src/repository/git-extension-api.ts
  vscode/src/repository/repo-metadata-from-git-api.ts
Labels: wip

#4048 add experimental vscode command to get completions from multiple models
  lib/shared/src/configuration.ts
  vscode/package.json
  vscode/src/completions/create-inline-completion-item-provider.ts
  vscode/src/completions/create-multi-model-inline-completion-provider.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/providers/create-provider.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/src/main.ts
Labels: wip

#4103 Ollama: buffer incomplete response chunks
  lib/shared/src/llm-providers/ollama/completions-client.ts
Labels: clients/vscode, ollama

#4105 Cody Ignore: integrate shared testing dataset
  lib/shared/package.json
  lib/shared/src/cody-ignore/context-filters-provider.test.ts
  pnpm-lock.yaml
Labels: enterprise, pfp-vscode-cody-ignore

#4110 Cody Ignore: activate the `vscode.git` before Cody extension via `ensionDependencies`
  vscode/package.json
  vscode/src/repository/git-extension-api.ts
Labels: cody, enterprise, pfp-vscode-cody-ignore

#4132 Cody Ignore: remove git CLI repo-name resolver
  agent/recordings/enterpriseClient_3965582033/recording.har.yaml
  lib/shared/src/sourcegraph-api/graphql/queries.ts
  vscode/src/context/workspace-repo-mapper.ts
  vscode/src/extension.common.ts
  vscode/src/extension.node.ts
  vscode/src/main.ts
  vscode/src/repository/enterprise-repo-name-resolver.ts
  vscode/src/repository/repo-name-getter.node.test.ts
  vscode/src/repository/repo-name-getter.node.ts
  vscode/src/repository/repo-name-resolver.test.ts
Labels: cody, enterprise, pfp-vscode-cody-ignore, pfp-jetbrains-cody-ignore

#4155 VS Code: use `enablement` for Cody commands
  vscode/package.json
  vscode/src/completions/create-multi-model-inline-completion-provider.ts
Labels: clients/vscode, cody

#4115 Cody Ignore: remove the Git extension shim
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/protocol_generated/ClientCapabilities.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/protocol_generated/Constants.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/protocol_generated/TextDocumentShowOptionsParams.kt
  agent/recordings/enterpriseClient_3965582033/recording.har.yaml
  agent/recordings/enterpriseMainBranchClient_759014996/recording.har.yaml
  agent/src/agent.ts
  agent/src/bfg/BfgRetriever.test.ts
  agent/src/index.test.ts
  agent/src/vscode-shim.ts
  vscode/src/chat/chat-view/CodebaseStatusProvider.ts
  vscode/src/completions/context/retrievers/bfg/bfg-retriever.ts
  vscode/src/context/remote-search.ts
  vscode/src/context/workspace-repo-mapper.ts
  vscode/src/jsonrpc/agent-protocol.ts
  vscode/src/main.ts
  vscode/src/repository/enterprise-repo-name-resolver.ts
  vscode/src/repository/git-extension-api.ts
  vscode/src/repository/remote-urls-from-parent-dirs.test.ts
  vscode/src/repository/remote-urls-from-parent-dirs.ts
  vscode/src/repository/repo-name-resolver.test.ts
  vscode/src/repository/repo-name-resolver.ts
  vscode/src/repository/test-helpers.ts
  vscode/src/services/cody-ignore.ts
Labels: cody, enterprise, pfp-vscode-cody-ignore, pfp-jetbrains-cody-ignore

#4179 VS Code: remove extension dependencies
  vscode/package.json
Labels: clients/vscode

#3493 [LSP Context]: Add `lsp-light` graph context retriever
  lib/shared/src/common/index.ts
  lib/shared/src/completions/types.ts
  lib/shared/src/configuration.ts
  pnpm-lock.yaml
  vscode/package.json
  vscode/src/completions/completion-provider-config.ts
  vscode/src/completions/context/context-strategy.ts
  vscode/src/completions/context/retrievers/bfg/bfg-retriever.ts
  vscode/src/completions/context/retrievers/graph/identifiers.ts
  vscode/src/completions/context/retrievers/lsp-light/lsp-light-retriever.integration.test.ts
  vscode/src/completions/context/retrievers/lsp-light/lsp-light-retriever.test.ts
  vscode/src/completions/context/retrievers/lsp-light/lsp-light-retriever.ts
  vscode/src/completions/context/retrievers/lsp-light/lsp-test-helpers.ts
  vscode/src/completions/context/retrievers/lsp-light/test-data/advanced-types.ts
  vscode/src/completions/context/retrievers/lsp-light/test-data/basic-types.ts
  vscode/src/completions/context/retrievers/lsp-light/test-data/classes.ts
  vscode/src/completions/context/retrievers/lsp-light/test-data/generics.ts
  vscode/src/completions/context/retrievers/lsp-light/test-data/interfaces.ts
  vscode/src/completions/context/retrievers/lsp-light/test-data/main.ts
  vscode/src/completions/context/retrievers/lsp-light/test-data/squares.ts
  vscode/src/completions/context/retrievers/lsp-light/test-data/tsconfig.json
  vscode/src/completions/test-helpers.ts
  vscode/src/configuration.ts
  vscode/src/graph/lsp/debug-logger.ts
  vscode/src/graph/lsp/hover.ts
  vscode/src/graph/lsp/languages.ts
  vscode/src/graph/lsp/limiter.test.ts
  vscode/src/graph/lsp/limiter.ts
  vscode/src/graph/lsp/lsp-commands.ts
  vscode/src/graph/lsp/symbol-context-snippets.ts
  vscode/src/testutils/mocks.ts
  vscode/src/tree-sitter/parse-tree-cache.ts
  vscode/src/tree-sitter/queries.ts
  vscode/src/tree-sitter/queries/go.ts
  vscode/src/tree-sitter/queries/javascript.ts
  vscode/src/tree-sitter/queries/python.ts
  vscode/src/tree-sitter/query-sdk.ts
  vscode/src/tree-sitter/query-tests/test-data/graph-identifiers.snap.jsx
  vscode/src/tree-sitter/query-tests/test-data/graph-identifiers.snap.tsx
  vscode/src/tree-sitter/query-tests/test-data/graph-identifiers.tsx
Labels: autocomplete

#4284 Cody Context Filters: update labels
  agent/src/index.test.ts
  agent/src/vscode-shim.ts
  lib/shared/src/cody-ignore/context-filters-provider.ts
  vscode/package.json
  vscode/src/context/repo-picker.ts
Labels: cody, enterprise, pfp-vscode-cody-ignore

#4304 Test Command: error on empty selection
  vscode/src/commands/execute/test-chat.ts
Labels: clients/vscode, chat/commands

#4315 OpenCtx: use `mention.description` if available
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/protocol_generated/MentionParams.kt
  lib/shared/src/codebase-context/messages.ts
  package.json
  pnpm-lock.yaml
  vscode/src/chat/context/chatContext.ts
  vscode/webviews/mentions/mentionMenu/MentionMenuItem.tsx
Labels: clients/vscode, openctx

#4363 Edit: fix @-mentions in the quick-pick menu
  lib/shared/src/mentions/query.test.ts
  lib/shared/src/mentions/query.ts
  vscode/src/edit/input/get-input.ts
  vscode/webviews/promptEditor/plugins/atMentions/atMentions.tsx
Labels: clients/vscode

#4371 Storybook: set vscode theme classes on `body`
  vscode/.storybook/preview.tsx
  vscode/webviews/storybook/VSCodeStoryDecorator.tsx
Labels: clients/vscode, dx
