Repository sourcegraph/cody, pull requests merged in 2024-11, with the labels that each got.

#6039 Autocomplete: cleanup the fast-path a/b test
  vscode/src/completions/completion-provider-config.ts
  vscode/src/completions/providers/fireworks.ts
Labels: autocomplete, size:M

#6045 Fix OpenCtx include initial context integeration.
  vscode/src/chat/context/chatContext.ts
Labels: size:XS

#6046 Update marketplace description
  vscode/package.json
Labels: size:XS

#6041 Change nested configuration object handling to match VSCode behavior.
  agent/src/AgentWorkspaceConfiguration.test.ts
  agent/src/AgentWorkspaceConfiguration.ts
Labels: size:L

#6034 Remove repo chip from default context
  lib/prompt-editor/src/index.ts
  lib/prompt-editor/src/mentions/mentionMenu/useMentionMenuData.test.tsx
  lib/prompt-editor/src/mentions/mentionMenu/useMentionMenuData.ts
  lib/prompt-editor/src/useExtensionAPI.tsx
  lib/prompt-editor/src/useInitialContext.ts
  lib/shared/src/codebase-context/messages.ts
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  lib/shared/src/index.ts
  lib/shared/src/misc/rpc/webviewAPI.ts
  vscode/src/chat/chat-view/ChatController.test.ts
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/chat/initialContext.ts
  vscode/test/e2e/uninstall.test.ts
  vscode/webviews/App.tsx
  vscode/webviews/AppWrapperForTest.tsx
  vscode/webviews/chat/Transcript.tsx
  vscode/webviews/chat/cells/messageCell/human/HumanMessageCell.story.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/HumanMessageEditor.tsx
  vscode/webviews/components/StateDebugOverlay.tsx
  web/lib/components/CodyWebChat.tsx
Labels: size:L

#6040 Autocomplete: deflake hot-streak tests
  vscode/src/completions/get-inline-completions-tests/hot-streak.test.ts
Labels: autocomplete

#6043 Autocomplete: enable completions preloading on cursor movement
  lib/shared/src/configuration.ts
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/CHANGELOG.md
  vscode/package.json
  vscode/src/completions/completion-provider-config.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider-e2e.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/src/testutils/mocks.ts
Labels: autocomplete

#6068 Autocomplete: add characters logger metadata to `accepted` events
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/WorkspaceEditEntryMetadata.kt
  vscode/src/completions/analytics-logger.test.ts
  vscode/src/completions/analytics-logger.ts
  vscode/src/completions/get-inline-completions-tests/analytics.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/services/CharactersLogger.ts
Labels: autocomplete, telemetry

#6057 Chat: E2E tests for chat PCW events.
  vscode/CHANGELOG.md
  vscode/package.json
  vscode/src/chat/chat-view/ChatsController.ts
  vscode/src/non-stop/FixupTask.ts
  vscode/src/services/CharactersLogger.ts
  vscode/test/e2e/__snapshots__/chat-messages.test.ts/chat-assistant-response-code-buttons-1.txt
  vscode/test/e2e/__snapshots__/command-edit.test.ts/edit-fixup-task-1.txt
  vscode/test/e2e/chat-messages.test.ts
  vscode/test/e2e/helpers.ts
Labels: telemetry

#6072 Autocomplete: remove the extended language pool option
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/src/completions/context/retrievers/jaccard-similarity/history.ts
  vscode/src/completions/context/retrievers/jaccard-similarity/jaccard-similarity-retriever.ts
  vscode/src/completions/context/retrievers/recent-user-actions/recent-edits-retriever.ts
  vscode/src/completions/context/retrievers/recent-user-actions/recent-view-port.ts
  vscode/src/completions/context/utils.test.ts
  vscode/src/completions/context/utils.ts
Labels: autocomplete

#6088 [Backport] Cherry-pick fixes from main to vscode-v1.42.x
  vscode/src/chat/agentic/CodyTool.ts
  vscode/src/chat/agentic/DeepCody.ts
  vscode/src/chat/agentic/prompts.ts
  vscode/src/chat/chat-view/ContextRetriever.ts
Labels: cherry-pick 1.42.x

#6093 Agent: disable the flaky edit test
  agent/src/edit.test.ts
Labels: agent

#6071 fix recent edits context source
  vscode/src/completions/context/retrievers/recent-user-actions/recent-edits-retriever.test.ts
  vscode/src/completions/context/retrievers/recent-user-actions/recent-edits-retriever.ts
  vscode/src/supercompletions/supercompletion-provider.ts
Labels: cherry-pick 1.42.x

#6095 Edit: collect more analytics data
  vscode/src/non-stop/FixupController.ts
  vscode/src/non-stop/FixupTask.ts
  vscode/test/e2e/__snapshots__/command-edit.test.ts/edit-fixup-task-1.txt
  vscode/test/e2e/command-edit.test.ts
  vscode/test/e2e/helpers.ts
Labels: edit

#6110 Edit: prep for the gpt-4o-mini edit a/b test
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  lib/shared/src/models/modelsService.test.ts
  lib/shared/src/models/modelsService.ts
  lib/shared/src/models/sync.test.ts
  vscode/src/edit/manager.ts
  vscode/src/edit/utils/edit-intent.ts
  vscode/src/edit/utils/edit-models.ts
  vscode/src/main.ts
  vscode/src/non-stop/FixupController.ts
Labels: edit

#6116 feat(edit): enable predicted outputs for gpt-4o models
  lib/shared/src/sourcegraph-api/completions/types.ts
  vscode/src/edit/provider.ts
Labels: edit

#6158 fix(audoedit): fix the scrollbar issue
  vscode/src/autoedits/renderer.ts
Labels: autoedit

#6150 Fetch standard prompts from remote prompts API
  lib/shared/src/lexicalEditor/editorState.ts
  lib/shared/src/sourcegraph-api/graphql/client.ts
  lib/shared/src/sourcegraph-api/graphql/queries.ts
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/prompts/prompt-hydration.ts
  vscode/src/prompts/prompts.ts
  vscode/test/e2e/command-core.test.ts
  vscode/webviews/components/promptList/ActionItem.tsx
  vscode/webviews/tabs/TabsBar.tsx
Labels: backport v1.46.x

#6160 Prompts Picker
  lib/shared/src/sourcegraph-api/graphql/client.ts
  lib/shared/src/sourcegraph-api/graphql/queries.ts
  vscode/package.json
  vscode/src/chat/chat-view/ChatsController.ts
  vscode/src/chat/protocol.ts
  vscode/src/edit/input/get-input.ts
  vscode/src/edit/input/quick-pick.ts
  vscode/src/main.ts
  vscode/src/prompts/manager.ts
  vscode/webviews/chat/cells/messageCell/human/editor/HumanMessageEditor.tsx
  vscode/webviews/prompts/PromptsTab.tsx
Labels: backport vscode-v1.46.x

#6171 fix(autoedit): fix suffix matching logic
  vscode/src/autoedits/autoedits-provider.ts
Labels: autoedit

#6172 chore(audoedit): simplify diff utils and renderer data structures
  vscode/src/autoedits/renderer/decorators/base.ts
  vscode/src/autoedits/renderer/decorators/common.ts
  vscode/src/autoedits/renderer/decorators/default-decorator.ts
  vscode/src/autoedits/renderer/diff-utils.test.ts
  vscode/src/autoedits/renderer/diff-utils.ts
  vscode/src/autoedits/renderer/manager.ts
  vscode/src/autoedits/renderer/renderer-testing.ts
  vscode/src/autoedits/utils.ts
  vscode/src/completions/text-processing/utils.ts
Labels: autoedit

#6176 chore(audoedit): test diff logic with different new line chars
  vscode/src/autoedits/renderer/diff-utils.test.ts
  vscode/src/autoedits/renderer/diff-utils.ts
Labels: autoedit
