Repository sourcegraph/cody, pull requests merged in 2024-06, with the labels that each got.

#4435 Agent: fix out of bounds document offsets
  agent/recordings/document-code_965949506/recording.har.yaml
  agent/recordings/edit_1541920145/recording.har.yaml
  agent/recordings/enterpriseClient_3965582033/recording.har.yaml
  agent/src/__snapshots__/document-code.test.ts.snap
  agent/src/__tests__/document-code/src/TestClass.ts
  agent/src/document-code.test.ts
  agent/src/edit.test.ts
  agent/src/index.test.ts
  agent/src/offsets.test.ts
  agent/src/offsets.ts
  vscode/src/edit/prompt/context.ts
  vscode/src/edit/prompt/index.ts
  vscode/src/edit/prompt/utils.ts
Labels: agent

#4551 DX: fix dev-desktop watch mode
  vscode/package.json
Labels: dx

#4565 Autocomplete: add `x-cody-resolved-model` to completion events
  lib/shared/src/inferenceClient/misc.ts
  lib/shared/src/sourcegraph-api/completions/client.ts
  vscode/src/completions/client.ts
  vscode/src/completions/get-completion-provider.ts
  vscode/src/completions/get-inline-completions-tests/analytics.test.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/logger.test.ts
  vscode/src/completions/logger.ts
  vscode/src/completions/providers/fetch-and-process-completions.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/openaicompatible.ts
  vscode/src/completions/providers/provider.ts
  vscode/src/completions/request-manager.test.ts
  vscode/src/log.ts
Labels: clients/vscode, autocomplete, telemetry

#4577 adding completions experiment variants
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/src/completions/providers/create-provider.ts
  vscode/src/completions/providers/fim-prompt-utils.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/tree-sitter/language.ts
Labels: wip

#4595 Autocomplete: implement stage counter logger
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/main.ts
  vscode/src/services/autocomplete-stage-counter-logger.test.ts
  vscode/src/services/autocomplete-stage-counter-logger.ts
Labels: autocomplete, telemetry

#4641 Autocomplete: log resolved model for cached results
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/logger.test.ts
  vscode/src/completions/logger.ts
  vscode/src/completions/providers/fetch-and-process-completions.ts
  vscode/src/completions/text-processing/process-inline-completions.ts
Labels: autocomplete, telemetry

#4668 VS Code: enable Fireworks tracing for Sourcegraph teammates
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/protocol_generated/AuthStatus.kt
  agent/recordings/chat-response-quality_413888585/recording.har.yaml
  agent/recordings/customCommandsClient_509552979/recording.har.yaml
  agent/recordings/defaultClient_631904893/recording.har.yaml
  agent/recordings/document-code_965949506/recording.har.yaml
  agent/recordings/edit_1541920145/recording.har.yaml
  agent/recordings/enterpriseClient_3965582033/recording.har.yaml
  agent/recordings/enterpriseMainBranchClient_759014996/recording.har.yaml
  agent/recordings/fix_3001320056/recording.har.yaml
  agent/recordings/rateLimitedClient_2043004676/recording.har.yaml
  agent/src/cli/cody-bench/llm-judge.ts
  agent/src/index.test.ts
  lib/shared/src/auth/types.ts
  lib/shared/src/chat/chat.ts
  lib/shared/src/index.ts
  lib/shared/src/inferenceClient/misc.ts
  lib/shared/src/sourcegraph-api/completions/browserClient.ts
  lib/shared/src/sourcegraph-api/completions/client.ts
  lib/shared/src/sourcegraph-api/graphql/client.ts
  lib/shared/src/sourcegraph-api/graphql/queries.ts
  vscode/src/chat/utils.ts
  vscode/src/completions/client.ts
  vscode/src/completions/inline-completion-item-provider.test.ts
  vscode/src/completions/nodeClient.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/local-context/rewrite-keyword-query.ts
  vscode/src/services/AuthProvider.ts
  vscode/src/services/LocalStorageProvider.test.ts
Labels: autocomplete

#4699 Autocomplete: add `providerModel` to stage counter logger
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/services/autocomplete-stage-counter-logger.test.ts
  vscode/src/services/autocomplete-stage-counter-logger.ts
Labels: autocomplete, telemetry
