Repository sourcegraph/cody, pull requests merged in 2024-10, with the labels that each got.

#5803 Autocomplete: fix `authStatus` mocks in provider tests
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/providers/anthropic.test.ts
  vscode/src/completions/providers/expopenaicompatible.test.ts
  vscode/src/completions/providers/fireworks.test.ts
  vscode/src/completions/providers/google.test.ts
  vscode/src/completions/providers/openaicompatible.test.ts
  vscode/src/completions/providers/shared/helpers.ts
  vscode/src/completions/providers/unstable-openai.test.ts
Labels: autocomplete

#5832 Agent: remove Cody Ignore agent tests
  agent/recordings/customCommandsClient_509552979/recording.har.yaml
  agent/src/TestClient.ts
  agent/src/__snapshots__/custom-commands.test.ts.snap
  agent/src/__tests__/custom-commands/.cody/ignore
  agent/src/__tests__/custom-commands/src/is_ignored.ts
  agent/src/__tests__/example-ts/.cody/ignore
  agent/src/__tests__/example-ts/src/isIgnored.ts
  agent/src/__tests__/example-ts/src/is_ignored.ts
  agent/src/custom-commands.test.ts
  agent/src/index.test.ts
  vscode/doc/codyignore.md
  vscode/test/fixtures/workspace/.cody/ignore
  vscode/test/fixtures/workspace2/.cody/ignore
Labels: agent

#5831 Autocomplete: context filters autocomplete agent tests
  agent/recordings/enterpriseMainBranchClient_759014996/recording.har.yaml
  agent/src/enterprise-s2.test.ts
Labels: autocomplete

#5833 Autocomplete: assert provider config and request params on S2
  agent/recordings/autocomplete_2136217965/recording.har.yaml
  agent/recordings/enterpriseMainBranchClient_759014996/recording.har.yaml
  agent/src/agent.ts
  agent/src/autocomplete.test.ts
  agent/src/enterprise-s2.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/jsonrpc/agent-protocol.ts
Labels: autocomplete

#5834 Autocomplete: rename logger to analytics logger
  agent/src/agent.ts
  agent/src/cli/command-bench/EvaluationDocument.ts
  vscode/src/completions/analytics-logger.test.ts
  vscode/src/completions/analytics-logger.ts
  vscode/src/completions/context/retrievers/tsc/load-tsc-retriever.ts
  vscode/src/completions/format-completion.ts
  vscode/src/completions/get-inline-completions-tests/analytics.test.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions-tests/last-candidate.test.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider-e2e.test.ts
  vscode/src/completions/inline-completion-item-provider.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/providers/shared/provider.ts
  vscode/src/completions/request-manager.test.ts
  vscode/src/completions/request-manager.ts
  vscode/src/completions/suggested-autocomplete-items-cache.ts
  vscode/src/completions/text-processing/process-inline-completions.ts
  vscode/src/completions/text-processing/utils.ts
  vscode/src/jsonrpc/agent-protocol.ts
Labels: autocomplete

#5840 Autocomplete: improve output channel logger
  agent/src/cli/command-auth/secrets.ts
  lib/shared/src/configuration.ts
  lib/shared/src/index.ts
  lib/shared/src/sourcegraph-api/completions/client.ts
  vscode/src/auth/auth.ts
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/chat/chat-view/ChatsController.ts
  vscode/src/chat/chat-view/ContextRetriever.ts
  vscode/src/chat/chat-view/context.ts
  vscode/src/chat/chat-view/prompt.ts
  vscode/src/commands/CommandsController.ts
  vscode/src/commands/context/git-api.ts
  vscode/src/commands/context/index.ts
  vscode/src/commands/context/shell.ts
  vscode/src/commands/services/custom-commands.ts
  vscode/src/commands/services/runner.ts
  vscode/src/completions/artificial-delay.ts
  vscode/src/completions/context/context-data-logging.ts
  vscode/src/completions/create-inline-completion-item-provider.ts
  vscode/src/completions/default-client.ts
  vscode/src/completions/fast-path-client.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/output-channel-logger.ts
  vscode/src/completions/providers/experimental-ollama.ts
  vscode/src/completions/providers/openaicompatible.ts
  vscode/src/completions/request-manager.ts
  vscode/src/context/openctx.ts
  vscode/src/dev/helpers.ts
  vscode/src/edit/provider.ts
  vscode/src/external-services.ts
  vscode/src/jsonrpc/TextDocumentWithUri.ts
  vscode/src/local-context/download-symf.ts
  vscode/src/local-context/rewrite-keyword-query.ts
  vscode/src/local-context/symf.ts
  vscode/src/log.ts
  vscode/src/main.ts
  vscode/src/minion/environment.ts
  vscode/src/non-stop/FixupController.ts
  vscode/src/output-channel-logger.ts
  vscode/src/repository/git-extension-api.ts
  vscode/src/repository/githubRepoMetadata.ts
  vscode/src/repository/repo-name-resolver.ts
  vscode/src/services/AuthProvider.ts
  vscode/src/services/SecretStorageProvider.ts
  vscode/src/services/telemetry-v2.ts
  vscode/src/services/utils/export-logs.ts
Labels: autocomplete

#5871 Autocomplete: keep the original insert range for agent `autocomplete/execute` calls
  agent/src/autocomplete.test.ts
  agent/src/enterprise-s2.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
Labels: autocomplete

#5855 VS Code: improve characters logger
  agent/src/AgentWorkspaceDocuments.ts
  vscode/src/services/CharactersLogger.test.ts
  vscode/src/services/CharactersLogger.ts
Labels: autocomplete

#5905 Autocomplete: a/b test the fast-path
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/src/completions/completion-provider-config.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/shared/get-experiment-model.ts
Labels: autocomplete

#5906 VS Code: Release v1.38.1
  vscode/CHANGELOG.md
  vscode/package.json
Labels: clients/vscode

#5931 VS Code: log more data from characters logger
  vscode/src/services/CharactersLogger.test.ts
  vscode/src/services/CharactersLogger.ts
  vscode/src/testutils/mocks.ts
Labels: clients/vscode, telemetry

#5951 VS Code: Release v1.38.2
  vscode/CHANGELOG.md
  vscode/package.json
Labels: clients/vscode, telemetry

#5978 VS Code: fix repo name resolution cache
  lib/shared/src/misc/observable.ts
  lib/shared/src/misc/observableOperation.ts
  vscode/CHANGELOG.md
  vscode/src/repository/remote-urls-from-parent-dirs.test.ts
  vscode/src/repository/remote-urls-from-parent-dirs.ts
  vscode/src/repository/repo-name-resolver.test.ts
  vscode/src/repository/repo-name-resolver.ts
Labels: enterprise

#5998 Autocomplete: fix the fast-path feature flag
  vscode/src/completions/providers/fireworks.ts
Labels: autocomplete

#5997 Agent: add window state notification
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/CodyAgentServer.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/Window_DidChangeFocusParams.kt
  agent/src/agent.ts
  agent/src/vscode-shim.ts
  pnpm-lock.yaml
  vscode/src/jsonrpc/agent-protocol.ts
Labels: agent

#5999 VS Code: Release v1.38.3
  vscode/CHANGELOG.md
  vscode/package.json
Labels: clients/vscode

#6009 VS Code: add characters logger stats to `fixup.apply:succeeded` events
  vscode/playwright.config.ts
  vscode/src/main.ts
  vscode/src/non-stop/FixupController.ts
  vscode/src/non-stop/FixupTask.ts
  vscode/src/non-stop/line-diff.ts
  vscode/src/services/CharactersLogger.test.ts
  vscode/src/services/CharactersLogger.ts
  vscode/src/testutils/mocks.ts
  vscode/test/e2e/__snapshots__/command-edit.test.ts/edit-fixup-task-1.txt
  vscode/test/e2e/command-edit.test.ts
  vscode/test/e2e/helpers.ts
  vscode/test/e2e/uninstall.test.ts
  vscode/test/fixtures/mock-server.ts
Labels: telemetry, enterprise

#6032 VS Code: Release v1.40.0
  vscode/CHANGELOG.md
  vscode/package.json
Labels: size:S

#6019 VS Code: add characters logger metadata to chat code-gen events
  vscode/src/main.ts
  vscode/src/non-stop/FixupController.ts
  vscode/src/services/CharactersLogger.test.ts
  vscode/src/services/CharactersLogger.ts
  vscode/src/services/telemetry-v2.ts
  vscode/src/services/utils/codeblock-action-tracker.ts
Labels: telemetry, enterprise

#6036 Fix Prompts welcome screen initial state
  vscode/webviews/components/promptList/PromptList.tsx
Labels: size:M

#6038 fix(ci): Increase test timeout for uninstall test
  vscode/test/e2e/uninstall.test.ts
Labels: size:XS
