Repository sourcegraph/cody, pull requests merged in 2024-01, with the labels that each got.

#2478 VS Code: remove redundant abort controller
  lib/shared/src/sourcegraph-api/completions/nodeClient.ts
Labels: cody/vscode

#2470 VS Code: require `userInfo` prop
  lib/shared/src/sourcegraph-api/environments.ts
  lib/ui/src/Chat.tsx
  lib/ui/src/chat/ErrorItem.tsx
  lib/ui/src/chat/Transcript.tsx
  lib/ui/src/chat/TranscriptItem.tsx
  vscode/src/chat/protocol.ts
  vscode/src/chat/utils.test.ts
  vscode/src/chat/utils.ts
  vscode/src/completions/inline-completion-item-provider.test.ts
  vscode/test/e2e/chat.test.ts
  vscode/webviews/App.tsx
  web/src/App.tsx
  web/src/Chat.tsx
Labels: telemetry

#2479 VS Code: remove redundant cancellation logic from the click handler
  vscode/webviews/Chat.tsx
Labels: cody/vscode

#2546 Autocomplete: skip request manager cache on manual completion trigger
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/request-manager.test.ts
  vscode/src/completions/request-manager.ts
Labels: autocomplete

#2521 Chat attribution UI
  lib/shared/src/guardrails/index.ts
  lib/shared/src/index.ts
  lib/ui/src/Chat.tsx
  lib/ui/src/chat/CodeBlocks.module.css
  lib/ui/src/chat/CodeBlocks.tsx
  lib/ui/src/chat/Transcript.tsx
  lib/ui/src/chat/TranscriptItem.tsx
  lib/ui/src/icons/CodeBlockActionIcons.tsx
  vscode/src/chat/ContextProvider.ts
  vscode/src/chat/MessageProvider.ts
  vscode/src/chat/chat-view/SimpleChatPanelProvider.ts
  vscode/src/chat/protocol.ts
  vscode/webviews/App.story.tsx
  vscode/webviews/App.tsx
  vscode/webviews/Chat.tsx
Labels: needs-design

#2486 Autocomplete: add `experimental.tracing` setting for local debugging
  lib/shared/src/configuration.ts
  pnpm-lock.yaml
  vscode/package.json
  vscode/src/completions/providers/create-provider.test.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/src/extension.common.ts
  vscode/src/extension.node.ts
  vscode/src/external-services.ts
  vscode/src/services/open-telemetry/OpenTelemetryService.node.ts
  vscode/src/testutils/mocks.ts
Labels: autocomplete, cody/vscode

#2487 Autocomplete: improve autocomplete tracing util
  lib/shared/src/sourcegraph-api/graphql/client.ts
  lib/shared/src/tracing/index.ts
  vscode/src/completions/context/context-mixer.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/request-manager.ts
Labels: autocomplete

#2560 Autocomplete: adjust leading whitespace in the last candidate text on indentation
  vscode/src/completions/get-inline-completions-tests/last-candidate.test.ts
  vscode/src/completions/reuse-last-candidate.ts
Labels: autocomplete

#2489 Autocomplete: add console-exporter for autocomplete OpenTelemetry tracing
  pnpm-lock.yaml
  vscode/package.json
  vscode/src/completions/client.ts
  vscode/src/completions/detect-multiline.ts
  vscode/src/completions/get-current-doc-context.ts
  vscode/src/completions/post-process-logger.ts
  vscode/src/completions/providers/dynamic-multiline.ts
  vscode/src/completions/providers/fetch-and-process-completions.ts
  vscode/src/completions/providers/generate-completions.ts
  vscode/src/completions/providers/hot-streak.ts
  vscode/src/completions/text-processing/parse-and-truncate-completion.ts
  vscode/src/completions/text-processing/process-inline-completions.ts
  vscode/src/completions/text-processing/truncate-parsed-completion.ts
  vscode/src/services/open-telemetry/OpenTelemetryService.node.ts
  vscode/src/services/open-telemetry/console-batch-span-exporter.ts
  vscode/src/services/open-telemetry/debug-utils.ts
Labels: autocomplete

#2598 Autocomplete: add unit tests for dynamic multiline completions
  vscode/src/completions/get-inline-completions-tests/dynamic-multiline.test.ts
Labels: autocomplete

#2572 Autocomplete: split up completion item provider
  vscode/src/completions/first-completion-decoration-handler.ts
  vscode/src/completions/format-completion.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/is-completion-visible.ts
  vscode/src/completions/suggested-autocomplete-items-cache.ts
Labels: autocomplete

#2626 Autocomplete: use `NodeResponse` in the autocomplete client
  lib/shared/package.json
  lib/shared/src/sourcegraph-api/errors.ts
  lib/shared/src/sourcegraph-api/graphql/client.ts
  pnpm-lock.yaml
  vscode/src/completions/client.test.ts
  vscode/src/completions/client.ts
  vscode/src/fetch.ts
Labels: autocomplete

#2635 Autocomplete: experimental autocomplete Ollama provider
  lib/shared/src/configuration.ts
  lib/shared/src/sourcegraph-api/errors.ts
  vscode/CHANGELOG.md
  vscode/doc/ollama.md
  vscode/package.json
  vscode/src/completions/client.ts
  vscode/src/completions/providers/create-provider.ts
  vscode/src/completions/providers/ollama-client.ts
  vscode/src/completions/providers/provider.ts
  vscode/src/completions/providers/unstable-ollama.ts
  vscode/src/completions/tracer/index.ts
  vscode/src/completions/tracer/traceView.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/src/testutils/mocks.ts
Labels: autocomplete

#2660 Autocomplete: hide ollama settings
  vscode/src/configuration.ts
Labels: autocomplete

#2661 DX: add `pnpm -C vscode run release:dry-run` to the CI build check
  .github/workflows/ci.yml
Labels: dx, cody/vscode

#2657 agent: return client-provided anonymous user ID from localStorage
  agent/src/agent.ts
  vscode/src/services/LocalStorageProvider.ts
Labels: telemetry, agent

#2671 Autocomplete: fix ollama doc
  vscode/doc/ollama.md
Labels: autocomplete

#2682 Autocomplete: insert missing brackets before completion truncation
  vscode/CHANGELOG.md
  vscode/src/completions/get-inline-completions-tests/dynamic-multiline.test.ts
  vscode/src/completions/get-inline-completions-tests/multiline-truncation.test.ts
  vscode/src/completions/text-processing/truncate-parsed-completion.test.ts
  vscode/src/completions/text-processing/truncate-parsed-completion.ts
Labels: autocomplete

#2699 VS Code: use `--goto` another file
  vscode/package.json
Labels: cody/vscode

#2731 Autocomplete: clean up streaming unit tests
  vscode/src/completions/get-inline-completions-tests/streaming.test.ts
Labels: autocomplete

#2745 DX: upgrade vitest to the latest version
  agent/src/index.test.ts
  lib/shared/src/common/markdown/markdown.test.ts
  package.json
  pnpm-lock.yaml
  vscode/src/completions/get-inline-completions-tests/languages.test.ts
  vscode/src/completions/get-inline-completions-tests/post-processing.test.ts
  vscode/src/editor/utils/editor-context.test.ts
  vscode/src/editor/utils/editor-context.ts
Labels: dx

#2747 Autocomplete: migrate autocomplete streaming post-processing to async generators
  .eslintrc.js
  vscode/src/completions/client.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions-tests/hot-streak.test.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/providers/anthropic.ts
  vscode/src/completions/providers/create-provider.test.ts
  vscode/src/completions/providers/dynamic-multiline.ts
  vscode/src/completions/providers/fetch-and-process-completions.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/get-completion-params.ts
  vscode/src/completions/providers/hot-streak.ts
  vscode/src/completions/providers/ollama-client.ts
  vscode/src/completions/providers/provider.ts
  vscode/src/completions/providers/unstable-ollama.ts
  vscode/src/completions/providers/unstable-openai.ts
  vscode/src/completions/request-manager.test.ts
  vscode/src/completions/request-manager.ts
  vscode/src/completions/utils.test.ts
  vscode/src/completions/utils.ts
Labels: autocomplete

#2573 Autocomplete: do not adjust insert text in a VS Code-specific way for the agent
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/is-completion-visible.ts
  vscode/src/completions/suggested-autocomplete-items-cache.ts
Labels: autocomplete

#2775 Autocomplete: use async generators for autocomplete tests
  vscode/src/completions/get-inline-completions-tests/dynamic-multiline.test.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions-tests/hot-streak.test.ts
  vscode/src/completions/get-inline-completions-tests/languages.test.ts
  vscode/src/completions/get-inline-completions-tests/multiline-truncation.test.ts
  vscode/src/completions/get-inline-completions-tests/streaming.test.ts
  vscode/src/completions/get-inline-completions-tests/triggers.test.ts
  vscode/src/completions/test-helpers.ts
Labels: autocomplete

#2880 Autocomplete: add test utility for completions streaming
  agent/recordings/defaultClient_631904893/recording.har.yaml
  agent/recordings/enterpriseClient_3965582033/recording.har.yaml
  agent/recordings/rateLimitedClient_2043004676/recording.har.yaml
  biome.json
  lib/shared/src/chat/viewHelpers.ts
  recordings/symf_3564355686/recording.har.yaml
  vscode/src/completions/get-inline-completions-tests/dynamic-multiline.test.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions-tests/hot-streak.test.ts
  vscode/src/completions/providers/anthropic.ts
  vscode/src/completions/test-helpers.ts
  vscode/src/completions/tracer/traceView.ts
Labels: autocomplete

#2881 Autocomplete: adaptive dynamic multiline completions
  .config/viteShared.ts
  agent/recordings/defaultClient_631904893/recording.har.yaml
  agent/recordings/enterpriseClient_3965582033/recording.har.yaml
  agent/recordings/rateLimitedClient_2043004676/recording.har.yaml
  vscode/src/completions/can-use-partial-completion.ts
  vscode/src/completions/detect-multiline.ts
  vscode/src/completions/get-current-doc-context.test.ts
  vscode/src/completions/get-current-doc-context.ts
  vscode/src/completions/get-inline-completions-tests/hot-streak.test.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/providers/dynamic-multiline.ts
  vscode/src/completions/providers/fetch-and-process-completions.ts
  vscode/src/completions/providers/hot-streak.ts
  vscode/src/completions/providers/provider.ts
  vscode/src/completions/request-manager.test.ts
  vscode/src/completions/request-manager.ts
  vscode/src/completions/text-processing/parse-and-truncate-completion.ts
  vscode/src/completions/text-processing/parse-completion.ts
  vscode/src/completions/text-processing/process-inline-completions.ts
  vscode/src/completions/text-processing/utils.ts
  vscode/src/services/open-telemetry/debug-utils.ts
  vscode/src/utils.ts
Labels: autocomplete

#2906 Autocomplete: fix actual position calculation for hot-streak completions
  vscode/src/completions/get-current-doc-context.test.ts
  vscode/src/completions/get-current-doc-context.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions-tests/hot-streak.test.ts
  vscode/src/completions/providers/fetch-and-process-completions.ts
  vscode/src/completions/providers/hot-streak.ts
  vscode/src/completions/text-processing/parse-completion.ts
  vscode/src/completions/text-processing/utils.ts
Labels: autocomplete

#2946 Autocomplete: add more stop-reason values to autocomplete responses
  lib/shared/src/index.ts
  lib/shared/src/inferenceClient/misc.ts
  lib/shared/src/ollama/ollama-client.ts
  lib/shared/src/sourcegraph-api/completions/types.ts
  vscode/src/completions/client.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/providers/fetch-and-process-completions.ts
Labels: autocomplete

#2962 Autocomplete: add `single-multiline-request` feature flag
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/src/completions/completion-provider-config.ts
  vscode/src/completions/create-inline-completion-item-provider.ts
  vscode/src/completions/get-inline-completions-tests/dynamic-multiline.test.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
  vscode/src/completions/get-inline-completions-tests/hot-streak.test.ts
  vscode/src/completions/get-inline-completions-tests/multiline-truncation.test.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider.test.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/testutils/mocks.ts
Labels: autocomplete

#2966 Autocomplete: add `deepseek-coder:6.7b` support
  vscode/CHANGELOG.md
  vscode/doc/ollama.md
  vscode/package.json
  vscode/src/completions/providers/fetch-and-process-completions.ts
  vscode/src/completions/providers/ollama-models.ts
  vscode/src/completions/providers/unstable-ollama.ts
Labels: autocomplete

#2967 Autocomplete: disable parallel inference requests for `ollama`
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/providers/anthropic.ts
  vscode/src/completions/providers/fireworks.ts
  vscode/src/completions/providers/provider.ts
  vscode/src/completions/providers/unstable-openai.ts
  vscode/src/completions/request-manager.ts
Labels: autocomplete
