Repository sourcegraph/cody, pull requests merged in 2025-04, with the labels that each got.

#7639 fix: backwards compatibility for evaluateFeatureFlags
  lib/shared/src/experimentation/FeatureFlagProvider.test.ts
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  lib/shared/src/sourcegraph-api/graphql/client.ts
  lib/shared/src/sourcegraph-api/graphql/queries.ts
  vscode/src/completions/inline-completion-item-provider-e2e.test.ts
  vscode/test/e2e/command-core-document-code.test.ts
  vscode/test/e2e/command-core-explain.test.ts
  vscode/test/e2e/command-core-generate-unit-test.test.ts
Labels: backport M82

#7658 Revert "[JetBrains] Update plugins (#7626)"
  jetbrains/build.gradle.kts
Labels: backport M84

#7681 [Backport M84] Backport #7654 and #7669 to m84
  vscode/src/services/NetworkDiagnostics.ts
Labels: backports, backported-to-M84

#7686 fix(agentic chat): Put the settings tab behind a feature flag
  vscode/webviews/tabs/TabsBar.tsx
Labels: backport M84

#7661 feat(auto-edit): reuse inflight requests
  vscode/src/autoedits/adapters/base.ts
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/prompt/test-helper.ts
  vscode/src/autoedits/renderer/diff-utils.ts
  vscode/src/autoedits/request-manager.test.ts
  vscode/src/autoedits/request-manager.ts
  vscode/src/autoedits/request-recycling.ts
Labels: autoedit

#7695 [Backport M84] Fix flaky tests caused by too often refresh of siteVersion #7691
  lib/shared/src/sourcegraph-api/graphql/client.ts
  lib/shared/src/sourcegraph-api/siteVersion.ts
Labels: backports, backported-to-M84

#7698 chore(CI): Upload jetbrains artefact publishing reports
  .github/workflows/release-jetbrains-experimental.yml
  .github/workflows/release-jetbrains-prerelease.yml
  .github/workflows/release-jetbrains-stable.yml
Labels: backport M84

#7705 fix(tests): disable flaky chat test
  vscode/test/integration/single-root/chat.test.ts
Labels: backport M84

#7690 feat(auto-edit): add session stats page to the debug panel
  vscode/src/autoedits/debug-panel/autoedit-data-sdk.ts
  vscode/src/autoedits/debug-panel/autoedit-latency-utils.ts
  vscode/src/autoedits/debug-panel/debug-panel.ts
  vscode/src/autoedits/debug-panel/debug-protocol.ts
  vscode/src/autoedits/debug-panel/debug-store.ts
  vscode/src/autoedits/debug-panel/session-stats.ts
  vscode/src/autoedits/debug-panel/session-store.ts
  vscode/webviews/autoedit-debug.tsx
  vscode/webviews/autoedit-debug/AutoeditDebugPanel.tsx
  vscode/webviews/autoedit-debug/components/AutoeditDetailView.tsx
  vscode/webviews/autoedit-debug/components/AutoeditListItem.tsx
  vscode/webviews/autoedit-debug/phase-colors.ts
  vscode/webviews/autoedit-debug/sections/DiscardInfoSection.tsx
  vscode/webviews/autoedit-debug/sections/NetworkRequestSection.tsx
  vscode/webviews/autoedit-debug/sections/PromptSection.tsx
  vscode/webviews/autoedit-debug/sections/SessionStatsSection.tsx
  vscode/webviews/autoedit-debug/sections/TimelineSection.tsx
  vscode/webviews/autoedit-debug/session-stats/LatencyTrendGraph.tsx
  vscode/webviews/autoedit-debug/session-stats/RequestMetricsTable.tsx
  vscode/webviews/autoedit-debug/session-stats/SessionStatsPage.tsx
Labels: autoedit

#7719 fix(chat): force refresh for EnhancedContextWindow
  lib/shared/src/models/sync.ts
Labels: backport M84

#7726 fix(autoedit): add request body to the autoedit debug panel
  vscode/src/autoedits/adapters/model-response/fireworks.ts
  vscode/webviews/autoedit-debug/sections/PromptSection.tsx
Labels: autoedit

#7756 fix(chat): use DeepCodyModelRef instead of id
  vscode/src/chat/chat-view/handlers/registry.ts
Labels: backport M84, backport M86
