Repository sourcegraph/cody, pull requests merged in 2025-01, with the labels that each got.

#6503 chore/release: Bump package version and update changelog for 1.56
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport vscode-v1.54.x

#6531 feat(audoedit): update vscode mocks
  vscode/src/testutils/mocks.ts
Labels: autoedit

#6530 feat(audoedit): reactive config singleton
  vscode/src/autoedits/autoedits-config.ts
Labels: autoedit

#6533 feat(audoedit): rename `logSummary` to `contextSummary` to match the type name
  vscode/src/completions/context/context-mixer.test.ts
  vscode/src/completions/context/context-mixer.ts
  vscode/src/completions/get-inline-completions.ts
  vscode/src/completions/tracer/traceView.ts
Labels: autoedit

#6534 feat(audoedit): add `isRead` field and `postProcessed` state to the analytics logger
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/analytics-logger/suggestion-id-registry.ts
Labels: autoedit

#6536 feat(audoedit): autoedits provider integration tests
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/test-helpers.ts
Labels: autoedit

#6543 feat(audoedit): add the `accept` command callback
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/renderer/inline-manager.ts
  vscode/src/autoedits/renderer/manager.test.ts
  vscode/src/autoedits/renderer/manager.ts
Labels: autoedit

#6551 feat(audoedit): improve output channel logs
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/autoedits-provider.ts
Labels: autoedit

#5861 Update NativeWebview title only if the title changes
  agent/src/NativeWebview.ts
Labels: Stale

#6552 feat(audoedit): check if suggestion is still visible before marking as read
  vscode/src/autoedits/renderer/inline-manager.ts
  vscode/src/autoedits/renderer/manager.ts
  vscode/src/autoedits/test-helpers.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/completions/is-completion-visible.ts
Labels: autoedit

#6563 feat(audoedit): add char/line count stats to analytics events
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/renderer/diff-utils.test.ts
  vscode/src/autoedits/renderer/diff-utils.ts
Labels: autoedit

#6564 feat(autoedit): add `discarded` events
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/autoedits-provider.ts
Labels: autoedit

#6566 chore/release: Bump package version and update changelog for 1.58
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport vscode-v1.58.x

#6579 feat(agentic chat): showing error for toolbox settings status
  vscode/src/chat/agentic/ToolboxManager.ts
  vscode/webviews/chat/cells/messageCell/human/editor/ToolboxButton.tsx
  vscode/webviews/components/shadcn/ui/badge.tsx
Labels: backport jb-v7.8.x, backport vscode-v1.60.x

#6591 feat(audoedit): update billing categories
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
Labels: autoedit

#6610 chore(audoedit): simplify output channel logger
  vscode/src/autoedits/output-channel-logger.ts
Labels: autoedit

#6611 chore(audoedit): ensure consistent auto-edit name
  lib/shared/src/completions/types.ts
  lib/shared/src/configuration.ts
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/CHANGELOG.md
  vscode/package.json
  vscode/src/autoedits/adapters/base.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/autoedit-onboarding.ts
  vscode/src/autoedits/autoedits-config.ts
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/create-autoedits-provider.ts
  vscode/src/autoedits/prompt/base.ts
  vscode/src/autoedits/renderer/manager.ts
  vscode/src/completions/completion-provider-config.ts
  vscode/src/completions/context/context-strategy.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/src/main.ts
  vscode/src/services/LocalStorageProvider.ts
  vscode/src/testutils/mocks.ts
  vscode/test/e2e/auto-edits.test.ts
Labels: autoedit

#6602 fix(cody): fix chat context review logic
  vscode/src/chat/agentic/DeepCody.test.ts
  vscode/src/chat/agentic/DeepCody.ts
Labels: backport jb-v7.8.x, backport vscode-v1.60.x

#6596 refactor(agentic context): update agent context settings
  vscode/webviews/chat/cells/contextCell/ContextCell.tsx
  vscode/webviews/chat/cells/messageCell/human/HumanMessageCell.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/ToolboxButton.story.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/ToolboxButton.tsx
Labels: backport jb-v7.8.x, backport vscode-v1.60.x

#6623 feat(agentic-context): add feature flag for session usage limit
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  lib/shared/src/sourcegraph-api/errors.ts
  vscode/src/chat/chat-view/handlers/DeepCodyHandler.ts
Labels: backport vscode-v1.60.x, backport jb-v7.10.x

#6633 fix/context: Nit, remove duplicate "this" from Agentic context popover
  vscode/webviews/chat/cells/messageCell/human/editor/ToolboxButton.tsx
Labels: backport vscode-v1.60.x, backport jb-v7.10.x

#6609 feat(auto-edit): improve error logging
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/test-helpers.ts
  vscode/src/services/sentry/sentry.ts
Labels: autoedit

#6641 feat(agentic-context): disable setting by default
  vscode/src/chat/agentic/ToolboxManager.ts
Labels: backport vscode-v1.60.x, backport jb-v7.10.x

#6647 feat(audo-edit): target vim normal mode only
  vscode/package.json
Labels: autoedit

#6666 chore/release: Bump package version and update changelog for 1.60
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport vscode-v1.60.x

#6672 chore(audo-edit): encapsulate prompt components
  lib/shared/src/completions/types.ts
  lib/shared/src/prompt/prompt-string.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/prompt/base.ts
  vscode/src/autoedits/prompt/default-prompt-strategy.test.ts
  vscode/src/autoedits/prompt/default-prompt-strategy.ts
  vscode/src/autoedits/prompt/prompt-utils.test.ts
  vscode/src/autoedits/prompt/prompt-utils.ts
  vscode/src/autoedits/prompt/short-term-diff-prompt-strategy.test.ts
  vscode/src/autoedits/prompt/short-term-diff-prompt-strategy.ts
  vscode/src/autoedits/prompt/test-helper.ts
  vscode/src/autoedits/renderer/manager.test.ts
  vscode/src/autoedits/renderer/mock-renderer.test.ts
  vscode/src/autoedits/shrink-prediction.test.ts
Labels: autoedit

#6709 chore(autocomplete): use the correct output channel label
  vscode/src/completions/output-channel-logger.ts
  vscode/src/external-services.ts
Labels: autocomplete

#6725 fix(agentic chat): exclude deep-cody prompt for o1 models
  lib/shared/src/prompt/prompt-mixin.ts
Labels: backport vscode-v1.62.x, backported-to-jb-v7.11.x

#6727 chore(audo-edit): fix the illegal line runtime error
  vscode/src/completions/context/retrievers/recent-user-actions/diagnostics-retriever.test.ts
  vscode/src/completions/context/retrievers/recent-user-actions/diagnostics-retriever.ts
Labels: autoedit, backport vscode-v1.62.x

#6736 chore/release: Bump package version and update changelog for 1.62
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport vscode-v1.62.x

#6730 Support endpoint param in auth flow (workspaces vscode sign-in flow)
  vscode/src/auth/auth.ts
Labels: backport vscode-v1.62.x

#6753 fix(models): ensure Tool Cody is only added when enabled
  lib/shared/src/models/sync.ts
Labels: backport vscode-v1.64.x, backport jb-v7.12.x

#6757 fix: added extension banner to web
  vscode/webviews/chat/cells/messageCell/human/editor/toolbar/SubmitButton.tsx
  vscode/webviews/chat/components/WelcomeFooter.tsx
  vscode/webviews/components/ExtensionPromotionalBanner.module.css
  vscode/webviews/components/ExtensionPromotionalBanner.tsx
  vscode/webviews/components/codeSnippet/CodeSnippet.module.css
  vscode/webviews/components/codeSnippet/CodeSnippet.tsx
Labels: backport vscode-v1.64.x, backport jb-v7.12.x

#6779 Fix intent telemetry
  vscode/src/chat/chat-view/ChatController.ts
  vscode/webviews/chat/Transcript.tsx
Labels: backport vscode-v1.64.x, backport jb-v7.12.x

#6812 feat(auth): Allow workspace to pre-populate URL for quick sign-in (#6653)
  lib/shared/src/index.ts
  lib/shared/src/sourcegraph-api/environments.ts
  vscode/src/auth/auth.ts
  vscode/src/main.ts
Labels: backports, backport vscode-v1.64.x, backport jb-v7.12.x

#6803 chore(ES): update CTAs and eligibility logic
  vscode/src/chat/protocol.ts
  vscode/webviews/Chat.tsx
  vscode/webviews/CodyPanel.tsx
  vscode/webviews/chat/components/WelcomeMessage.tsx
  vscode/webviews/chat/components/WelcomeNotice.tsx
  vscode/webviews/components/UserMenu.tsx
  vscode/webviews/tabs/TabsBar.tsx
Labels: backport vscode-v1.64.x, backport jb-v7.12.x

#6827 chore(client): update display name for agentic model
  lib/shared/src/models/client.ts
Labels: backport vscode-v1.64.x, backport jb-v7.12.x

#6833 Make Play Button stateful and remove intent toggle
  jetbrains/src/integrationTest/resources/recordings/integration-test_2927926756/recording.har.yaml
  lib/shared/src/misc/rpc/webviewAPI.ts
  lib/shared/src/sourcegraph-api/clientConfig.test.ts
  lib/shared/src/sourcegraph-api/clientConfig.ts
  lib/shared/src/sourcegraph-api/graphql/client.ts
  lib/shared/src/sourcegraph-api/graphql/queries.ts
  vscode/src/chat/chat-view/ChatController.test.ts
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/completions/inline-completion-item-provider.ts
  vscode/webviews/AppWrapperForTest.tsx
  vscode/webviews/chat/Transcript.tsx
  vscode/webviews/chat/cells/messageCell/human/HumanMessageCell.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/HumanMessageEditor.test.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/HumanMessageEditor.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/toolbar/SubmitButton.story.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/toolbar/SubmitButton.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/toolbar/Toolbar.tsx
  vscode/webviews/components/omnibox/intentDetection.tsx
Labels: backport vscode-v1.64.x, backport jb-v7.12.x

#6837 fix: define all base64 characters
  lib/shared/src/lexicalEditor/atMentionsSerializer.test.ts
  lib/shared/src/lexicalEditor/atMentionsSerializer.ts
Labels: backport vscode-v1.64.x, backport jb-v7.12.x

#6842 fix: handle missing spaces around @ mentions in cody chat
  lib/shared/src/lexicalEditor/atMentionsSerializer.test.ts
  lib/shared/src/lexicalEditor/atMentionsSerializer.ts
  lib/shared/src/lexicalEditor/editorState.ts
Labels: backport vscode-v1.64.x, backport jb-v7.12.x

#6848 feat(auto-edit): fix the temperature value regression with the auto-edit
  vscode/src/autoedits/adapters/cody-gateway.test.ts
  vscode/src/autoedits/adapters/cody-gateway.ts
  vscode/src/autoedits/adapters/fireworks.test.ts
  vscode/src/autoedits/adapters/fireworks.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.test.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.test.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.ts
Labels: backport vscode-v1.64.x, backport jb-v7.12.x

#6853 fix(auto-edit): fix temperature value to be low for output consistency
  vscode/src/autoedits/adapters/cody-gateway.test.ts
  vscode/src/autoedits/adapters/cody-gateway.ts
  vscode/src/autoedits/adapters/fireworks.test.ts
  vscode/src/autoedits/adapters/fireworks.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.test.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.test.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.ts
Labels: backport vscode-v1.64.x

#6856 chore(ES): fix cta typo
  vscode/webviews/chat/components/WelcomeNotice.tsx
  vscode/webviews/components/UserMenu.tsx
Labels: backport vscode-v1.64.x, backport jb-v7.12.x

#6876 chore/release: Bump package version and update changelog for 1.64
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport vscode-v1.64.x
