Repository sourcegraph/cody, pull requests merged in 2025-05, with the labels that each got.

#7837 fix(auto-edit): use correct doc context version to show inline completions more often
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/analytics-logger/types.ts
  vscode/src/autoedits/autoedit-completion-item.ts
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/hot-streak/index.test.ts
  vscode/src/autoedits/hot-streak/index.ts
  vscode/src/autoedits/renderer/diff-utils.ts
  vscode/src/autoedits/renderer/manager.ts
  vscode/src/autoedits/renderer/render-output.ts
  vscode/src/autoedits/request-manager.test.ts
  vscode/src/autoedits/request-manager.ts
  vscode/src/completions/get-current-doc-context.ts
Labels: autoedit

#7852 fix(auto-edit): dispose next cursor manager
  vscode/src/autoedits/autoedits-provider.ts
Labels: autoedit, backport M90, backport M92

#7850 fix(autoedit): Adjust the config for long suggestion model
  lib/shared/src/sourcegraph-api/completions/types.ts
  vscode/src/autoedits/adapters/cody-gateway.test.ts
  vscode/src/autoedits/adapters/cody-gateway.ts
  vscode/src/autoedits/adapters/fireworks-websocket.test.ts
  vscode/src/autoedits/adapters/fireworks-websocket.ts
  vscode/src/autoedits/adapters/fireworks.test.ts
  vscode/src/autoedits/adapters/fireworks.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.test.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.test.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.ts
  vscode/src/autoedits/adapters/utils.ts
  vscode/src/autoedits/autoedits-config.ts
Labels: backport M92

#7862 fix(auto-edit): Fix the view prompt for active editor
  vscode/src/completions/context/retrievers/recent-user-actions/recent-view-port.test.ts
  vscode/src/completions/context/retrievers/recent-user-actions/recent-view-port.ts
Labels: backport M92

#7851 fix(autoedit): Add common post processing pipeline for prediction from the model
  vscode/src/autoedits/hot-streak/index.test.ts
  vscode/src/autoedits/hot-streak/index.ts
  vscode/src/autoedits/hot-streak/utils.test.ts
  vscode/src/autoedits/hot-streak/utils.ts
Labels: backport M92

#7855 fix(auto-edit): do not suggest empty line insertions
  vscode/src/autoedits/hot-streak/get-chunk.test.ts
  vscode/src/autoedits/hot-streak/get-chunk.ts
  vscode/src/autoedits/hot-streak/index.test.ts
  vscode/src/autoedits/hot-streak/stable-suggestion.ts
Labels: autoedit

#7867 feat(auto-edit): add `readyToBeRendered` state to the analytics logger
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/AutoeditRequestStateForAgentTesting.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/Constants.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/Phase.kt
  vscode/src/autoedits/adapters/sourcegraph-completions.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/analytics-logger/types.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/debug-panel/autoedit-data-sdk.ts
  vscode/src/completions/analytics-logger.ts
  vscode/webviews/autoedit-debug/AutoeditDebugPanel.tsx
Labels: autoedit

#7868 feat(auto-edit): use prediction/code_to_rewrite feedback button
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/analytics-logger/types.ts
  vscode/src/autoedits/debug-panel/autoedit-data-sdk.ts
  vscode/webviews/autoedit-debug/AutoeditDebugPanel.tsx
  vscode/webviews/autoedit-debug/components/FeedbackSection.tsx
  vscode/webviews/autoedit-debug/sections/CodeToRewriteDataSection.tsx
  vscode/webviews/autoedit-debug/sections/NetworkRequestSection.tsx
  vscode/webviews/autoedit-debug/store/hotStreakStore.ts
Labels: autoedit

#7886 fix(auto-edit): Handle stuck decorations, refactor decorators
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/renderer/decorators/base.ts
  vscode/src/autoedits/renderer/decorators/inline-diff-decorator.ts
  vscode/src/autoedits/renderer/manager.test.ts
  vscode/src/autoedits/renderer/manager.ts
Labels: backport M94

#7815 chore(autoedit): Consolidate renderers/decorators
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/create-autoedits-provider.ts
  vscode/src/autoedits/renderer/decorators/base.ts
  vscode/src/autoedits/renderer/decorators/default-decorator.ts
  vscode/src/autoedits/renderer/decorators/inline-diff-decorator.ts
  vscode/src/autoedits/renderer/inline-manager.ts
  vscode/src/autoedits/renderer/manager.test.ts
  vscode/src/autoedits/renderer/manager.ts
  vscode/src/autoedits/renderer/mock-renderer.ts
  vscode/src/autoedits/renderer/render-output-utils.test.ts
  vscode/src/autoedits/renderer/render-output.ts
  vscode/src/autoedits/test-helpers.ts
  vscode/src/autoedits/utils.test.ts
  vscode/src/autoedits/utils.ts
  vscode/src/main.ts
  vscode/webviews/autoedit-debug/components/AutoeditListItem.tsx
Labels: backport M94

#7892 chore(auto-edit): Prepare hot-streak for dogfooding
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/src/autoedits/hot-streak/__snapshots__/index.test.ts.snap
  vscode/src/autoedits/hot-streak/constants.ts
  vscode/src/autoedits/hot-streak/get-chunk.test.ts
  vscode/src/autoedits/hot-streak/index.test.ts
  vscode/src/autoedits/hot-streak/stable-suggestion.test.ts
  vscode/src/autoedits/hot-streak/stable-suggestion.ts
Labels: backport M94

#7872 fix(autocomplete): fix stop reason in the default completions client
  vscode/src/completions/default-client.ts
  vscode/src/completions/fast-path-client.ts
  vscode/src/completions/providers/shared/fetch-and-process-completions.ts
Labels: autocomplete

#7905 Fix issue with duplicated models in the model selection
  lib/shared/src/models/sync.ts
Labels: backport M94

#7904 Fix handling of client-side temporary settings in cody_settings.json
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/CodyAgentClient.kt
  agent/bindings/kotlin/lib/src/main/kotlin/com/sourcegraph/cody/agent/protocol_generated/ExtensionConfiguration_DidUpdateParams.kt
  agent/src/AgentWorkspaceConfiguration.ts
  agent/src/agent.ts
  agent/src/vscode-shim.ts
  jetbrains/src/main/kotlin/com/sourcegraph/cody/agent/CodyAgentClient.kt
  jetbrains/src/main/kotlin/com/sourcegraph/cody/config/migration/ClientConfigCleanupMigration.kt
  jetbrains/src/main/kotlin/com/sourcegraph/cody/initialization/PostStartupActivity.kt
  jetbrains/src/main/kotlin/com/sourcegraph/config/ConfigUtil.kt
  jetbrains/src/test/kotlin/com/sourcegraph/cody/config/migration/ClientConfigCleanupMigrationTest.kt
  vscode/src/jsonrpc/agent-protocol.ts
Labels: backport M94

#7899 fix(chat): Allow spaces in mcp server arguments
  vscode/webviews/components/mcp/views/AddServerForm.tsx
Labels: backport M94

#7900 feat(chat): open mcp settings in json
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/chat/protocol.ts
  vscode/webviews/components/mcp/ServerHome.tsx
Labels: backport M94

#7913 Enable prompts sort by relevance for insider builds
  lib/shared/src/sourcegraph-api/graphql/client.ts
  vscode/webviews/components/promptOwnerFilter/PromptOwnerFilter.tsx
  vscode/webviews/components/promptSelectField/PromptSelectField.tsx
  vscode/webviews/components/promptTagsFilter/PromptTagsFilter.tsx
Labels: backport M94

#7930 Revert: fix(web): Fix agent recreation in Cody Web component to properly respond to config changes (#7787)
  web/lib/components/use-cody-agent.ts
Labels: backport M96

#7948 Changelog for 1.94.1
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport M94

#7952 fix(chat): only run saveSession after LLM response
  vscode/src/chat/chat-view/ChatController.ts
Labels: backport M94, backport M96

#7951 revert(chat): enable agentic chat based on feature flag and model
  lib/shared/src/models/client.ts
  lib/shared/src/models/sync.test.ts
  lib/shared/src/models/sync.ts
  vscode/src/chat/agentic/ToolboxManager.ts
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/chat/chat-view/handlers/DeepCodyHandler.ts
  vscode/src/chat/chat-view/handlers/registry.ts
Labels: backport M94, backport M96

#7973 chore/release: Bump package version and update changelog for M96
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport M96

#7980 Refresh Cody window on display configuration change
  jetbrains/src/main/kotlin/com/sourcegraph/cody/ui/web/WebUIProxy.kt
  jetbrains/src/main/kotlin/com/sourcegraph/cody/ui/web/WebviewView.kt
Labels: backport M98

#7983 feat(chat): add `cody.chat.agenticContext` configuration option
  lib/shared/src/configuration.ts
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  lib/shared/src/models/client.ts
  lib/shared/src/models/sync.test.ts
  lib/shared/src/models/sync.ts
  vscode/package.json
  vscode/src/chat/agentic/ToolboxManager.test.ts
  vscode/src/chat/agentic/ToolboxManager.ts
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/chat/chat-view/handlers/registry.ts
  vscode/src/configuration.test.ts
  vscode/src/configuration.ts
  vscode/src/testutils/mocks.ts
Labels: backport M98
