Repository sourcegraph/cody, pull requests merged in 2025-03, with the labels that each got.

#7302 chore(auto-edit): capture request/response metadata from auto-edit API adapters
  lib/shared/src/inferenceClient/misc.ts
  vscode/src/autoedits/adapters/base.ts
  vscode/src/autoedits/adapters/cody-gateway.test.ts
  vscode/src/autoedits/adapters/cody-gateway.ts
  vscode/src/autoedits/adapters/fireworks.test.ts
  vscode/src/autoedits/adapters/fireworks.ts
  vscode/src/autoedits/adapters/openai.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.test.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.test.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.ts
  vscode/src/autoedits/adapters/utils.ts
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/test-helpers.ts
  vscode/src/completions/default-client.ts
Labels: autoedit

#7303 chore(auto-edit): integrate model response metadata with analytics logger
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/analytics-logger/index.ts
  vscode/src/autoedits/analytics-logger/suggestion-id-registry.ts
  vscode/src/autoedits/analytics-logger/types.ts
  vscode/src/autoedits/autoedits-provider.ts
Labels: autoedit

#7306 feat(auto-edit): full debug panel UI implementation
  vscode/src/autoedits/debug-panel/debug-store.ts
  vscode/webviews/autoedit-debug.tsx
  vscode/webviews/autoedit-debug/AutoeditDebugPanel.tsx
  vscode/webviews/autoedit-debug/autoedit-data-sdk.ts
  vscode/webviews/autoedit-debug/autoedit-debug.css
  vscode/webviews/autoedit-debug/autoedit-ui-utils.ts
  vscode/webviews/autoedit-debug/components/AutoeditDetailView.tsx
  vscode/webviews/autoedit-debug/components/AutoeditListItem.tsx
  vscode/webviews/autoedit-debug/components/EmptyState.tsx
  vscode/webviews/autoedit-debug/components/JsonViewer.tsx
  vscode/webviews/autoedit-debug/components/SyntaxHighlighter.tsx
  vscode/webviews/autoedit-debug/components/side-by-side-diff/SideBySideDiff.tsx
  vscode/webviews/autoedit-debug/components/side-by-side-diff/utils.ts
  vscode/webviews/autoedit-debug/sections/AutoeditsConfigSection.tsx
  vscode/webviews/autoedit-debug/sections/ContextInfoSection.tsx
  vscode/webviews/autoedit-debug/sections/DiscardInfoSection.tsx
  vscode/webviews/autoedit-debug/sections/NetworkRequestSection.tsx
  vscode/webviews/autoedit-debug/sections/PromptSection.tsx
  vscode/webviews/autoedit-debug/sections/TimelineSection.tsx
Labels: autoedit

#7329 chore(agent): release agent-v5.5.16
  agent/package.json
Labels: agent

#7330 chore(agent): add minor version release script
  agent/scripts/minor-release.sh
Labels: agent

#7400 feat(auto-edit): cancel redundant requests
  vscode/src/autoedits/adapters/base.ts
  vscode/src/autoedits/adapters/cody-gateway.test.ts
  vscode/src/autoedits/adapters/cody-gateway.ts
  vscode/src/autoedits/adapters/fireworks.test.ts
  vscode/src/autoedits/adapters/fireworks.ts
  vscode/src/autoedits/adapters/openai.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.test.ts
  vscode/src/autoedits/adapters/sourcegraph-chat.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.test.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.ts
  vscode/src/autoedits/adapters/utils.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/test-helpers.ts
  vscode/src/completions/default-client.ts
  vscode/webviews/autoedit-debug/autoedit-data-sdk.ts
  vscode/webviews/autoedit-debug/sections/NetworkRequestSection.tsx
Labels: autoedit

#7348 chore(auto-edit): reduce debounce time even further
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
Labels: autoedit

#7401 feat(auto-edit): reduce context size
  vscode/src/autoedits/autoedits-config.ts
Labels: autoedit

#7402 feat(auto-edit): make prompt instructions more concise
  vscode/src/autoedits/prompt/constants.ts
  vscode/src/autoedits/prompt/default-prompt-strategy.test.ts
  vscode/src/autoedits/prompt/short-term-diff-prompt-strategy.test.ts
  vscode/src/autoedits/prompt/short-term-diff-prompt-strategy.ts
Labels: autoedit

#7374 feat(chat): Revert model selector and navigation behavior (CODY-5260)
  vscode/package.json
  vscode/test/e2e/auth.test.ts
  vscode/test/e2e/chat-input.test.ts
  vscode/test/e2e/chat-keyboard-shortcuts.test.ts
  vscode/test/e2e/enterprise-server-sent-models.test.ts
  vscode/test/e2e/utils/server-models.ts
  vscode/webviews/CodyPanel.tsx
  vscode/webviews/chat/Transcript.test.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/HumanMessageEditor.test.tsx
  vscode/webviews/chat/cells/messageCell/human/editor/toolbar/Toolbar.tsx
  vscode/webviews/components/modelSelectField/ModelSelectField.module.css
  vscode/webviews/components/modelSelectField/ModelSelectField.tsx
  vscode/webviews/tabs/TabsBar.module.css
  vscode/webviews/tabs/TabsBar.test.tsx
  vscode/webviews/tabs/TabsBar.tsx
  vscode/webviews/tabs/utils.ts
Labels: backport M76

#7419 chore(auto-edit): add inference time to the debug panel
  vscode/webviews/autoedit-debug/AutoeditDebugPanel.tsx
  vscode/webviews/autoedit-debug/autoedit-data-sdk.ts
  vscode/webviews/autoedit-debug/autoedit-ui-utils.ts
  vscode/webviews/autoedit-debug/components/AutoeditDetailView.tsx
  vscode/webviews/autoedit-debug/components/AutoeditListItem.tsx
  vscode/webviews/autoedit-debug/sections/CodeToRewriteDataSection.tsx
  vscode/webviews/autoedit-debug/sections/NetworkRequestSection.tsx
  vscode/webviews/autoedit-debug/sections/TimelineSection.tsx
  vscode/webviews/components/codeSnippet/CodeSnippet.tsx
Labels: autoedit

#7418 feat(auto-edit): experimental inceptionlabs adapter
  lib/shared/src/configuration.ts
  vscode/src/autoedits/adapters/create-adapter.ts
  vscode/src/autoedits/adapters/inceptionlabs.ts
  vscode/src/autoedits/adapters/utils.ts
  vscode/src/autoedits/prompt/default-prompt-strategy.ts
  vscode/src/autoedits/prompt/prompt-utils.test.ts
  vscode/src/autoedits/prompt/prompt-utils.ts
  vscode/src/autoedits/prompt/short-term-diff-prompt-strategy.ts
Labels: autoedit

#7427 chore(auto-edit): fix accept/reject analytics events
  vscode/src/autoedits/analytics-logger/analytics-logger.test.ts
  vscode/src/autoedits/analytics-logger/analytics-logger.ts
  vscode/src/autoedits/analytics-logger/types.ts
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/renderer/inline-manager.ts
  vscode/src/autoedits/renderer/manager.ts
Labels: autoedit

#7447 fix(completions): Add api-version check for completions endpoint
  jetbrains/src/integrationTest/resources/recordings/integration-test_2927926756/recording.har.yaml
  lib/shared/src/sourcegraph-api/completions/client.ts
  recordings/rewrite-query_2689977722/recording.har.yaml
  vscode/src/chat/chat-view/utils/diff.test.ts
  vscode/src/local-context/rewrite-keyword-query.test.ts
  vscode/src/local-context/rewrite-keyword-query.ts
Labels: backport M78

#7440 chore(auto-edit): ensure aborts are propagated to the provider
  lib/shared/src/inferenceClient/misc.ts
  lib/shared/src/llm-providers/ollama/completions-client.ts
  vscode/src/autoedits/adapters/cody-gateway.test.ts
  vscode/src/autoedits/adapters/fireworks.test.ts
  vscode/src/autoedits/adapters/sourcegraph-completions.ts
  vscode/src/autoedits/adapters/utils.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/completions/default-client.ts
  vscode/src/completions/fast-path-client.ts
  vscode/src/completions/get-inline-completions-tests/helpers.ts
Labels: autoedit

#7487 fix(auto-edit): Do not swtich user to if already enrolled to beta
  vscode/src/autoedits/autoedit-onboarding.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/completions/inline-completion-item-provider.ts
Labels: backport M80

#7520 fix(chat): Temporarily disable Swift tree-sitter parsing due to VSCode 1.98+ compatibility issue
  vscode/src/tree-sitter/parse-tree-cache.ts
Labels: backport M78

#7525 feat(auto-edit): implement smart-throttle
  vscode/src/autoedits/analytics-logger/types.ts
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/smart-throttle.ts
  vscode/src/autoedits/test-helpers.ts
Labels: autoedit

#7541 feat(autoedit): add basic client cache
  vscode/src/autoedits/adapters/base.ts
  vscode/src/autoedits/analytics-logger/types.ts
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/renderer/manager.test.ts
  vscode/src/autoedits/renderer/manager.ts
  vscode/src/autoedits/request-manager.test.ts
  vscode/src/autoedits/request-manager.ts
  vscode/src/autoedits/test-helpers.ts
  vscode/src/completions/test-helpers.ts
Labels: autoedit

#7570 chore(release): fix release notes step
  .github/workflows/release-vscode-stable.yml
Labels: backport M80

#7579 fix/guardrails: In enforced mode, hide smart apply, etc. actions until attribution complete
  lib/shared/src/guardrails/client.ts
  vscode/webviews/components/RichCodeBlock.tsx
Labels: backport M82

#7585 fix(completion): handle completion requests with no events
  lib/shared/src/sourcegraph-api/completions/client.ts
  vscode/src/completions/nodeClient.ts
Labels: backport M82

#7593 feat(webview): Improve webview performance with lightweight history
  lib/shared/src/chat/transcript/index.ts
  lib/shared/src/chat/transcript/lightweight-history.ts
  lib/shared/src/misc/rpc/webviewAPI.ts
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/chat/chat-view/ChatHistoryManager.test.ts
  vscode/src/chat/chat-view/ChatHistoryManager.ts
  vscode/webviews/AppWrapperForTest.tsx
  vscode/webviews/tabs/HistoryTab.story.tsx
  vscode/webviews/tabs/HistoryTab.test.tsx
  vscode/webviews/tabs/HistoryTab.tsx
Labels: backport M82

#7594 fix/chat: Label the button that runs shell commands "Execute" instead of "Execute in Terminal"
  vscode/webviews/chat/ChatMessageContent/ChatMessageContent.tsx
  vscode/webviews/chat/ChatMessageContent/EditButtons.tsx
  vscode/webviews/components/GuardrailsApplicator.tsx
  vscode/webviews/components/GuardrailsStatus.tsx
  vscode/webviews/components/RichCodeBlock.tsx
Labels: backport M82

#7602 Revert changes to password storage in JetBrains
  jetbrains/src/main/kotlin/com/sourcegraph/cody/agent/CodyAgentClient.kt
  jetbrains/src/main/kotlin/com/sourcegraph/cody/auth/CodySecureStore.kt
  jetbrains/src/main/kotlin/com/sourcegraph/cody/config/migration/AccountsMigration.kt
  jetbrains/src/main/kotlin/com/sourcegraph/config/ConfigUtil.kt
Labels: backport M82

#7556 feat(models) Set new context limits (CODY-5022)
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  lib/shared/src/models/model.test.ts
  lib/shared/src/models/model.ts
  lib/shared/src/models/modelsService.ts
  lib/shared/src/models/sync.test.ts
  lib/shared/src/models/sync.ts
  vscode/src/completions/providers/shared/helpers.ts
Labels: backport M82

#7607 Revert changes to password storage in JetBrains
  jetbrains/src/main/kotlin/com/sourcegraph/cody/agent/CodyAgentClient.kt
  jetbrains/src/main/kotlin/com/sourcegraph/cody/auth/CodySecureStore.kt
  jetbrains/src/main/kotlin/com/sourcegraph/cody/config/migration/AccountsMigration.kt
  jetbrains/src/main/kotlin/com/sourcegraph/config/ConfigUtil.kt
Labels: backports, backported-to-M82

#7598 fix(chat): Completely disable Swift tree-sitter parsing due to VS Code 1.98+ crash
  vscode/src/tree-sitter/grammars.test.ts
  vscode/src/tree-sitter/grammars.ts
  vscode/src/tree-sitter/parse-tree-cache.ts
Labels: backport M80, backport M82

#7604 feat(chat): Improve tool input handling with JSON repair and validation
  pnpm-lock.yaml
  vscode/package.json
  vscode/src/chat/chat-view/tools/editor.ts
  vscode/src/chat/chat-view/tools/file.ts
  vscode/src/chat/chat-view/tools/index.ts
  vscode/src/chat/chat-view/tools/schema.ts
  vscode/src/chat/chat-view/tools/shell.ts
  vscode/src/chat/chat-view/utils/input.test.ts
  vscode/src/chat/chat-view/utils/input.ts
  vscode/webviews/chat/cells/toolCell/DiffCell.story.tsx
  vscode/webviews/chat/cells/toolCell/DiffCell.tsx
Labels: backport M82

#7616 fix(agent mode): select mode at start up
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/chat/chat-view/handlers/registry.ts
  vscode/webviews/chat/Transcript.test.tsx
  vscode/webviews/chat/Transcript.tsx
Labels: backport M82

#7633 fix(agentic chat): Update Sonnet model ID check in syncModels
  lib/shared/src/models/sync.ts
Labels: backport M82
