Repository sourcegraph/cody, pull requests merged in 2025-02, with the labels that each got.

#6956 fix(web): Don't show CTA on Cody Web for PLG
  lib/shared/src/experimentation/FeatureFlagProvider.ts
  vscode/webviews/Chat.tsx
Labels: backport M66

#6959 chore(marketing): Update marketplace and in product logos
  vscode/package.json
  vscode/resources/sourcegraph.png
  vscode/webviews/CodyPanel.tsx
  vscode/webviews/icons/SourcegraphLogo.tsx
Labels: backport M66

#6971 chore/release: Bump package version and update changelog for 1.66
  agent/README.md
  jetbrains/src/integrationTest/resources/recordings/integration-test_2927926756/recording.har.yaml
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport M66

#6976 fix/release: Update the JetBrains link to release notes.
  jetbrains/src/main/resources/META-INF/plugin.xml
Labels: backport M68

#6975 chore/release: VSCode stable release Slack announcements to point to the correct release branches
  .github/workflows/release-vscode-stable.yml
Labels: backport M68

#7003 chore/release: Bump package version and update changelog for 1.66
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport M66

#7081 chore(release): upgrade changelog generator
  .github/workflows/generate-changelog.yml
Labels: backport M68

#7085 chore(marketing): update JB plugin icon
  jetbrains/src/main/resources/META-INF/pluginIcon.svg
Labels: backport M68

#7089 Changelog for 1.68.0
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport M68

#7093 fix(jetbrains): remove duplicate sg logo svg
  jetbrains/src/main/resources/icons/sourcegraphLogo.svg
Labels: backport M68, backport M70

#7116 Changelog for 1.70.0
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backports, backport M70

#7124 Fix code search downlaod
  .github/workflows/release-jetbrains-experimental.yml
  .github/workflows/release-jetbrains-prerelease.yml
  .github/workflows/release-jetbrains-stable.yml
  jetbrains/build.gradle.kts
Labels: backport M72

#7130 fix(agentic chat): terminal and openCtx are not registered as tools
  vscode/src/chat/agentic/CodyToolProvider.test.ts
  vscode/src/chat/agentic/CodyToolProvider.ts
  vscode/src/context/openctx.ts
Labels: backport M70, backport M72

#7120 feat(audo-edit): decrease debounce interval
  vscode/src/autoedits/autoedits-provider.test.ts
  vscode/src/autoedits/autoedits-provider.ts
  vscode/src/autoedits/test-helpers.ts
Labels: autoedit

#7153 chore(ollama): remove ollama docs
  doc/dev/quality/index.md
  jetbrains/README.md
  vscode/walkthroughs/ollama.md
Labels: ollama

#7176 Changelog for 1.70.2
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backport M70

#7183 Update changelog to 1.70.2
  vscode/CHANGELOG.md
  vscode/package.json
Labels: backports, release-blocker, backport M70, failed-backport-to-M70

#7134 [Backport M72] fix(smart-apply): stripping of markdown code blocks (#7105)
  lib/shared/src/chat/preamble.ts
  lib/shared/src/index.ts
  vscode/src/chat/chat-view/prompt.test.ts
  vscode/src/edit/output/response-transformer.ts
  vscode/src/edit/output/test-fixtures.ts
  vscode/webviews/components/MarkdownFromCody.test.tsx
  vscode/webviews/components/MarkdownFromCody.tsx
Labels: backports, backported-to-M72

#7205 refactor(telemetry): opt-out option
  vscode/package.json
  vscode/src/services/telemetry-v2.ts
Labels: backport M70, backport M72

#7168 chore(smart-apply): implement the smart-apply provider
  lib/shared/src/index.ts
  vscode/src/chat/chat-view/ChatController.ts
  vscode/src/edit/cache-manager.ts
  vscode/src/edit/edit-context-logging.ts
  vscode/src/edit/edit-manager.ts
  vscode/src/edit/execute.ts
  vscode/src/edit/manager.ts
  vscode/src/edit/prompt/smart-apply.ts
  vscode/src/edit/provider.ts
  vscode/src/edit/smart-apply-manager.ts
  vscode/src/edit/smart-apply.ts
  vscode/src/editor/active-editor.ts
  vscode/src/main.ts
  vscode/src/non-stop/FixupController.ts
Labels: smart-apply

#7214 chore(auto-edit): improve inline renderer `insertText` extraction
  vscode/src/autoedits/renderer/inline-manager.test.ts
  vscode/src/autoedits/renderer/inline-manager.ts
Labels: autoedit

#7230 Fix NPE warning in JetBrains
  jetbrains/src/main/java/com/sourcegraph/find/FindService.java
Labels: backport M72

#7262 fix(chat): Fix the filename container location in chat
  vscode/webviews/chat/ChatMessageContent/ChatMessageContent.module.css
  vscode/webviews/chat/ChatMessageContent/ChatMessageContent.tsx
  vscode/webviews/chat/ChatMessageContent/create-buttons.ts
Labels: backport M74

#7269 fix(smart-apply): do not create new files on prefetching
  vscode/src/services/utils/codeblock-action-tracker.ts
  vscode/webviews/chat/ChatMessageContent/ChatMessageContent.tsx
Labels: smart-apply, backport M74
